body, html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: Inter, sans-serif;
}

a:-webkit-any-link {
  color: unset;
}

textarea, select, input, button { outline: none; }

.mono {
  font-family: "Source Code Pro", monospace;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}

/* dark */
@media all and (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  .bg-gray0-d {
    background-color: #333;
  }
  .b--gray1-d {
    border-color: #4d4d4d;
  }
  .white-d {
    color: #fff;
  }
  .invert-d {
    filter: invert(1);
  }
}