#bord,
#whom {
  width: 600px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

#bord {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 18px;
}

#whom {
  color: red;
  top: 636px;
}

#whom,
.spac {
  font-size: 100px;
  line-height: 200px;
}

.spac {
  width: 198px;
  height: 198px;
  border: 1px solid #000;
  text-align: center;
  float: left;
  cursor: pointer;
}

.spac[data-index="0-0"],
.spac[data-index="1-0"],
.spac[data-index="2-0"] {
  border-top: 0;
}

.spac[data-index="0-0"],
.spac[data-index="0-1"],
.spac[data-index="0-2"] {
  border-left: 0;
}

.spac[data-index="2-0"],
.spac[data-index="2-1"],
.spac[data-index="2-2"] {
  border-right: 0;
}

.spac[data-index="0-2"],
.spac[data-index="1-2"],
.spac[data-index="2-2"] {
  border-bottom: 0;
}