h1
  &.lead
    margin-top 1rem
    margin-bottom 6rem
    font-size 1.6rem
    line-height 2rem
    margin-bottom 3rem

h2
  margin-top 3rem
  &.date
    margin-top 0
    line-height .7rem

#nav
  #sibs
    width 11rem
    & > div
      margin-bottom .6rem
      height auto
      margin-bottom 4px
      height 20px
  a
    white-space normal
    border none
    white-space nowrap
    border-bottom 1px solid #000

.date
  font-weight 400
  font-family 'scp'
  font-size .7rem

@media only screen and (min-width: 320px) and (max-width: 1024px)
  #cont
    top 2rem

  h1
    &.lead
      font-size 1.6rem
      line-height 2rem
      margin-bottom 3rem

  #nav
    #sibs
      width 11rem
      & > div
        margin-bottom 4px
        height 20px
    a
      white-space nowrap
      border-bottom 1px solid #000