@import 'css/indigo-static.css';
@import 'css/fonts.css';
@import 'css/custom.css';
@import 'css/spinner.css';

@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/material.css';
