.c-default {
  cursor: default;
}

.m0a {
  margin: 0 auto;
}

/* responsive */
@media all and (max-width: 34.375em) {
  .dn-s {
    display: none;
  }
  .flex-basis-100-s {
    flex-basis: 100%;
  }
}

@media all and (min-width: 34.375em) {
  .db-ns {
    display: block;
  }
  .flex-basis-30-ns {
    flex-basis: 30vw;
  }
}

@media all and (prefers-color-scheme: dark) {
  .o-60-d {
    opacity: .6;
  }
}