# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
AlignAfterOpenBracket: Align
#AlignArrayOfStructures: Left # >= 13.0
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
#AttributeMacros:
  #- __capability
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: None
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ColumnLimit: 80
#CommentPragmas:  '^ IWYU pragma:'
ContinuationIndentWidth: 2
DeriveLineEnding: false
DerivePointerAlignment: false
DisableFormat: false
#ForEachMacros:
  #- foreach
  #- Q_FOREACH
  #- BOOST_FOREACH
#IfMacros: 
  #- IF
#StatementAttributeLikeMacros:
  #- Q_EMIT
IncludeBlocks: Regroup
#IncludeCategories:
  #- Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    #Priority:        2
    #SortPriority:    0
    #CaseSensitive:   false
  #- Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    #Priority:        3
    #SortPriority:    0
    #CaseSensitive:   false
  #- Regex:           '.*'
    #Priority:        1
    #SortPriority:    0
    #CaseSensitive:   false
#IncludeIsMainRegex: '(Test)?$'
#IncludeIsMainSourceRegex: ''
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 2
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
#MacroBlockBegin: ''
#MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
#PPIndentWidth: -1 # >= 13.0
#PenaltyBreakAssignment: 2
#PenaltyBreakBeforeFirstCallParameter: 19
#PenaltyBreakComment: 300
#PenaltyBreakFirstLessLess: 120
#PenaltyBreakString: 1000
#PenaltyBreakTemplateDeclaration: 10
#PenaltyExcessCharacter: 1000000
#PenaltyReturnTypeOnItsOwnLine: 60
#PenaltyIndentedWhitespace: 0
PointerAlignment: Left
ReflowComments: true # CaseInsensitive >= 13.0
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: true
#SpacesInLineCommentPrefix: # >= 13.0
  #Maximum: 1
  #Minimum: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false
#StatementAttributeLikeMacros:
#StatementMacros:
  #- Q_UNUSED
  #- QT_REQUIRE_VERSION
TabWidth: 2
TypenameMacros:
  - u3p
UseCRLF: false
UseTab: Never
#WhitespaceSensitiveMacros:
  #- STRINGIZE
  #- PP_STRINGIZE
  #- BOOST_PP_STRINGIZE
  #- NS_SWIFT_NAME
  #- CF_SWIFT_NAME
---
Language: JavaScript
InsertTrailingCommas: Wrapped
