# autoconf
/.MAKEFILE-VERSION
/make.conf
/.make.conf
# intermediate
*.swo
*.swp
*.o
/outside/**/*.a
/outside/re2/obj
# build
/bin/urbit
/vere.pkg
.tags
.etags
GPATH
GTAGS
GRTAGS
# scratch
/urb/*/
!/urb/zod/
/zod/
# dependencies
node_modules/
.sass-cache
# OS
.DS_Store
# ??
/inst
cscope.*
