# nix symlink artifacts
#
result
result-*

# common dev piers
#
/zod
/bus
/nec
/fakezod

# package manager caches
#
.stack-work
node_modules

# build and release artifacts
#
cross/
release/
dist
/out
/work

# landscape dev
#
urbitrc
*-min.js
pkg/interface/link-webext/web-ext-artifacts

# catchall editor and OS stuff
#
.tags
.etags
tags
TAGS
GPATH
GRTAGS
GTAGS
.DS_Store
*.swp
*.swo
\#*\#
s/*

