language: nix
nix: 2.1.3

install:
  - nix-env -iA cachix -f https://cachix.org/api/v1/install

before_install:
  - ./sh/test-whitespace
  - git lfs pull

script:
  - cachix use urbit2
  - ./sh/cachix || true

  - make
  - make release

  - sh/ci-tests

deploy:
  - skip_cleanup: true
    provider: gcs
    access_key_id: GOOGTADOPP55X5ZTH3IKAXQW
    secret_access_key:
      secure: rSPif0VHX3Q3QpWM9iUt/Z9sicCY8ABuwVFPeT3YUnAAmSXM46PIHKieoGs79kx9IelFyQsM8xS0XWyt4S/haR7VaTJY+zHJjf0AnA1sr5ZIV70t3K0SXzq4+E1ffOZRiC0VmHatPz10wjaIpHxpjcROqQV4M1dBCq2H/rpccIE=
    bucket: bootstrap.urbit.org
    local-dir: release/
    acl: public-read
    on:
      condition: "-d release/"
      repo: urbit/urbit
      all_branches: true
