
.links.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.links.embed-container iframe, .links.embed-container object, .links.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* responsive */
@media all and (max-width: 34.375em) {
  .dn-s {
    display: none;
  }
  .flex-basis-100-s, .flex-basis-full-s {
    flex-basis: 100%;
  }
}

@media all and (min-width: 34.375em) {
  .db-ns {
    display: block;
  }
  .flex-basis-30-ns {
    flex-basis: 30vw;
  }
}