Source: urbit
Section: net
Priority: extra
Maintainer: Ted Blackman <ted@tlon.io>
Build-Depends: debhelper (>= 9), libgmp3-dev, libsigsegv-dev, openssl, libssl-dev,libtool, meson, re2c, libcurl4-gnutls-dev
Standards-Version: 3.9.5
Homepage: http://urbit.org

Package: urbit
Architecture: any
Depends: libgmp3-dev, libsigsegv-dev, openssl, libcurl4-gnutls-dev
Description: An operating function
