body,
textarea,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin-top: 2rem;
  font-size 18px;
}

input,
textarea {
  font-size: 1rem;
}

#c {
  width: 100%;
  height: 100%;
}

#d,
#tweet,
.tweet,
.text {
  width: 24rem;
}
#d {
  margin-left: auto;
  margin-right: auto;
}

textarea {
  border: 0;
  height: 6rem;
  line-height: 1.5rem;
  margin-left: -1rem;
  margin-bottom: .3rem;
  width: 26rem;
  outline: none;
  resize: none;
  padding: 1rem;
  background-color: #f7f7f7;
}

textarea:focus {
  background-color: #eee;
}

#length,
#submit {
  border: 0;
  color: #333;
  letter-spacing: 0.01rem;
}

#length {
  width 1rem;
  height 1rem;
  color: #ccc;
  background-color: #eee;
}

#submit {
  background-color: #ccc;
  font-weight: 500;
}

.text {
  word-wrap:break-word;
  margin-bottom: .3rem;
}

#twet,
.tweet {
  margin-bottom: 1rem;
}

.date {
  font-size: .8rem;
  color: #ccc;
}
