.first-a {
  padding-top: 0;
  margin-top: -.7rem;
}

.recycling div.label {
  color: #000;
  padding: 0;
  min-width: 4rem;
  text-align: left;
  vertical-align: bottom;
  line-height: 1rem;
  display: block;
  margin-top: 1rem;
  padding-bottom: .3rem;
}

.recycling span.label {
  margin-left: 1rem;
}

.recycling div.label-warning {
  margin-top: 1rem;
}

.recycling input {
  width: 60%;
}

.recycleTicket {
  margin-top: 1rem;
}

button {
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #000;
  padding: 9px 9px 5px 9px;
}

button.reroll {
  background-color: #555;
  border-color: #555;
  color: #fff;
}

input.pick { margin-right: 1rem; }

.split .label { margin-left: 1rem; }

button.invalid { opacity: .5; }

ul.network li {
  margin-top: .3rem;
}

ul.shop li {
  margin-top: 1rem;
}
