@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-italic.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-mediumitalic.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bolditalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-super.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-superitalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-extralight.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-black.woff");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  font-family: "bau";
  font-size: 18px;
}
#c {
  position: absolute;
  top: 0rem;
  left: 50%;
  width: 34rem;
  margin-left: -17rem;
  margin-bottom: 12rem;
}
h1 {
  font-weight: 500;
}
.ctrl h1 {
  font-size: 1rem;
}
.items {
  margin-top: 4rem;
}
.item {
  display: block;
  max-height: 3rem;
  margin-bottom: 1.5rem;
  width: 36rem;
  overflow: hidden;
  background-color: #fff;
  transition: max-height 200ms linear;
}
.item.expand {
  max-height: 24rem;
  transition: max-height 200ms linear;
}
.item .expand {
  margin-left: 2rem;
  cursor: pointer;
  transform-origin: 3px 12px;
  transition: transform 200ms linear;
}
.item.expand .expand {
  transform: rotate(90deg);
  transition: transform 200ms linear;
}
.item .sort,
.item .title,
.item .date,
.item .tags,
.item .comment {
  line-height: 2rem;
}
.item .sort,
.item .date {
  font-family: 'scp';
}
.item .audience,
.item .date,
.item .ship {
  font-size: 0.7rem;
}
.item .audience,
.item .sort {
  color: #ccc;
}
.item .audience,
.item .date,
.item .ship {
  text-transform: uppercase;
  height: 1rem;
  letter-spacing: 0.07rem;
}
.item .audience {
  margin-left: 2.2rem;
}
.item .done {
  width: 0.7rem;
  height: 0.7rem;
  margin-top: 0.5rem;
  border: 0.2rem solid #ccc;
}
.item .sort {
  font-size: 0.6rem;
  width: 2rem;
  text-align: center;
}
.item .title {
  min-width: 16rem;
  margin-left: 0.5rem;
}
.item .date {
  min-width: 6rem;
}
.item .tags {
  min-width: 6rem;
}
.item .description,
.item .discussion {
  line-height: 2rem;
  margin: 0.5rem 0 0.5rem 2.3rem;
}
.item .description textarea {
  min-width: 27rem;
  min-height: 6rem;
}
.item .comp {
  width: 3rem;
  opacity: 0;
}
.item .comp .a {
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.9rem;
}
.item:hover .comp {
  opacity: 1;
}
.item .submit {
  font-size: 0.7rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #b9b9b9;
  letter-spacing: 0.07rem;
  color: #fff;
  padding: 0 0.3rem;
  margin-top: 0.5rem;
}
.comment {
  margin-bottom: 1rem;
}
.comment .date,
.comment .ship {
  margin-right: 1rem;
}
.comment .body {
  margin-top: 1rem;
}
.comment.new .input {
  max-width: 27rem;
  margin-top: 1rem;
}
/* global */
.top {
  vertical-align: top;
}
.ib {
  display: inline-block;
}
.hidden {
  display: none;
}
.a {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
}
.input {
  outline: none;
  padding: 0 0.3rem;
  background-color: #f9f9f9;
  border: 0;
  font: inherit;
  resize: none;
}
.input:focus {
  background-color: #e6e6e6;
}
.caret.left {
  border-left: 6px solid #000;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: 0.4rem;
}
.hr1 {
  height: 0.2rem;
  width: 6rem;
  background-color: #ccc;
  margin-left: 2.2rem;
}
.hr2 {
  height: 0.1rem;
  width: 3rem;
  background-color: #ccc;
}
