html {
  font-size: 21px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0; padding: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.info {
  font-family: monospace;
  font-size: .6rem;
  color: #ccc;
}

#container {
  width: 32rem;
  margin: 2rem auto 2rem auto;
}

#head {
  margin-bottom: 1rem;
  border-bottom: 3px solid #000;
}

.post {
  margin: 0 0 1rem 0;
  padding: 0 0 .6rem 0;
  border-bottom: 1px solid #ccc;
}

.post h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.post p {
  font-size: .8rem;
}
