.bar
  margin-top 2rem
  margin-bottom 2rem
  & > div
    display inline-block
  a.logo
    display inline-block
    height 2rem
    vertical-align middle
    border none
  img.logo
    margin-right 18px
    margin-top 0
  ul
    margin 0
    line-height 2rem
    display inline-block
    li::before
      content ''
      padding-right none
    li
      display inline-block
      margin-bottom 0
      margin-right 1rem
      vertical-align middle
    li a
      border-bottom none
      text-decoration underline
    li a h1
      margin 0
      line-height inherit
      text-transform capitalize
      font-size 1.2rem
    h1
      text-transform capitalize
      font-size 1rem
      font-weight 400
      letter-spacing .03rem

.lead
  #body
    margin-top 3rem
    margin-top 0  

  h1
    margin-top 1rem
    vertical-align middle
    line-height 4rem
    &.fold
      margin-top 6rem
  
  .list li h1
    line-height 2rem

  &
    font-size 1.6rem
    line-height 2.6rem

  a
    line-height 1rem
  
  p
    font-size 1.6rem
    line-height 3rem

  .mono
    font-size 1.3rem

  .footer
    margin 4rem 0 4rem 0
    p
      margin 0
      font-size .7rem
    code
      line-height 1rem
      font-size .7rem

  input.email
    border-radius 0
    font inherit
    font-family 'scp'
    font-weight 300
    line-height 2rem
    min-width 2rem
    border 0
    outline 0
    background-color transparent
    border-bottom 3px dotted #000
    margin-right 1rem
    display inline-block
    &.valid
      color #99F27C
    &.error
      color #F74040
  
  .email:empty:not(:focus):before
    content attr(data-ph)
    
  ::-webkit-input-placeholder
    color #e6e7e8

  :-moz-placeholder
    color #e6e7e8

  ::-moz-placeholder
    color #e6e7e8

  :-ms-input-placeholder
    color #e6e7e8

  button.submit
    font inherit
    border 0
    background-color #fff
    border-bottom 3px solid #000
    font-size 1.6rem
    line-height 1.6rem
    display inline-block
    text-align left
    margin-top 1rem
    height 2rem
    padding 0 .6rem

  .date
    font-weight 400

@media only screen and (max-width: 1170px)
  #cont.lead
    top 0rem

@media only screen and (min-width: 320px) and (max-width: 1024px)
  #cont.lead
    top 0rem
    font-size 1rem
    line-height 1.6rem
    
    .post h1
      font-size 2rem
      line-height 3rem

    .bar
      margin-top 1rem
      margin-bottom 1rem
  
      .list li h1, 
        font-size 1rem
        line-height 1.6rem

    img.logo
      display block
      margin-bottom 1rem

    h1.leader,
    h1.fold
      font-size 1.6rem
      line-height 3rem
      margin-left 0

    .list li,
    .list li a,
    .list li h1, 
      font-size 1rem
      line-height 1.6rem
    
    input.email
      font-size 1.2rem
      width 100%

    button.submit
      font-size 1rem

    .date,
    div.footer
      font-size .6rem

