/* laptops / small screens ----------- */
@media only screen and (max-width: 1170px)
  #nav
  #nav > div
  #nav.up
  #nav.top
  #nav .focus
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  
  #nav
    position fixed
    top 0
    opacity 1
    width 42rem
    margin-left -21rem
    background-color #fff
    z-index 2
  
  #nav a
    white-space nowrap
    
  #nav #sibs
    width 12rem
    
  #nav #sibs > div
    height 20px
    margin-bottom 4px
  
  #nav #sibs > div.active a
  #nav #sibs > div a
    border-bottom none
    text-decoration underline

  #nav.m-down
  #nav.m-up
    position absolute
  
  #nav.m-down.m-fixed
    position fixed
    top 0
  
  #nav > div > div
    max-height 2rem
    overflow hidden
    transition max-height .3s ease-in-out
  
  #nav .focus
    max-height 40rem
    transition max-height .3s ease-in-out
  
  #cont
    top 3rem
  #cont.no-anchor
    top 0

/* tablets + phones ----------- */
@media only screen and (min-width: 320px) and (max-width: 1024px)
  body
  html
    font-size 21px
  
  p
    font-size 1rem
    line-height 2rem

  #nav
  #cont
    width 94%
    padding-left 3%
    margin-left 0
  
  #nav
    position fixed
    padding-top 0
    opacity 1
    left 0
    z-index 2
  
  #nav > div > div
    max-height 1.2rem
  
  #nav > div
    padding-top .6rem
    
  #nav #sibs
    width 11rem
    padding-top 0

  #nav #sibs > div
    height 20px
    line-height 20px
    
  #nav a
    display inline-block
    font-size .7rem
  
  #nav #sides
    float none
    margin-left 1rem
  
  #nav .arow-up
  #nav .arow-next
  #nav .arow-prev
    margin-right 0
    border .4rem solid transparent

  #nav .arow-up
    border-bottom .6rem solid #000
  #nav .arow-next
    border-left .6rem solid #000
  #nav .arow-prev
    margin-right 1rem
    border-right .6rem solid #000

  #cont
    left 0
    padding-bottom 9rem

  #cont h1:first-child
    margin-top 0
  
  .short
    width 100%

/* phones portrait and landscape ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  #nav > div > div
    max-height 1.6rem
  
  #nav a
    line-height auto
    font-size .7rem
    
  #nav #sibs > div
    height 20px
    line-height 20px

