div.post
  h1
    font-size 2.8rem
    line-height 4rem
    margin-top 1rem
    margin-bottom 1rem
  
  h2
    font-family 'scp'
    font-size .7rem
    line-height 1rem
    letter-spacing 1px
  
  h3
    margin-top 0
    font-size .7rem
    font-weight 200
    letter-spacing .1rem
    text-transform uppercase
  h3::before
    content '\2014'
    margin-right .3rem
  
  .list li 
    margin-bottom 0
    font-size 1.2rem

  p
    font-size 1.2rem
    line-height 2.2rem
  
  li p
    display inline
    
  p.ib
    margin-top 0

@media only screen and (min-width: 320px) and (max-width: 1024px)
  div.post
    h2
    h3
      font-size .5rem
    p
      font-size 1rem
      line-height 2rem
    
    li h1
      font-weight 400
    li::before
      font-weight 200