div.post
  h1
    font-size 2.8rem
    line-height 4rem
    display block
    margin-top 1rem
    margin-bottom 1rem
  
  h2
    font-family 'scp'
    font-size .7rem
    line-height 1rem
    letter-spacing 1px
  
  h3
    margin-top 0
    font-size .7rem
    font-weight 200
    letter-spacing .1rem
    text-transform uppercase
  h3::before
    content '\2014'
    margin-right .3rem
  
  p
    font-size 1.2rem
    line-height 2.2rem
  
  li p
    display inline
    
  p.ib
    margin-top 0
