/**    style.css
  *      ~2024.4.6
  *
  *    styling resets
  *    and
  *    utility classes
  *
  **/

:root {
  --x: 4px;
}
* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
form, a, input, p, li, ul, ol, div, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}
html {
  height: 100%;
  font-size: 21px;
}
body {
  margin: 0;
  font-family: 'Urbit Sans';
  font-feature-settings: normal;
  font-variation-settings: normal;
  letter-spacing: 0.024em;
  line-height: 1;
  background-color: var(--b0);
  color: var(--f1);
  min-height: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  font: inherit;
}
button, input, textarea, iframe {
  border: unset;
}
img {
  max-width: 100%;
}
.break {
  word-break: break-word;
}
.action {
  touch-action: manipulation;
}
.hidden,
.folded {
  display: none !important;
}
.jc {
  justify-content: center;
}
.jb {
  justify-content: space-between;
}
.ja {
  justify-content: space-around;
}
.js {
  justify-content: start;
}
.je {
  justify-content: end;
}
.js {
  justify-content: start;
}
.as {
  align-items: start;
}
.af {
  align-items: stretch;
}
.ae {
  align-items: end;
}
.ac {
  align-items: center;
}
.wfc {
  width: fit-content;
}
.wf {
  width: 100%;
}
.mw-page {
  max-width: 650px;
}
.hf {
  height: 100%;
}
.hfc {
  height: fit-content;
}
.mono {
  font-variation-settings: "xtab" 500;
  font-size: 0.8em;
}
.bold {
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
}
.pre {
  white-space: pre;
}
.pre-line {
  white-space: pre-line;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.block {
  display: block;
}
.fc {
  display: flex;
  flex-direction: column;
}
.fcr {
  display: flex;
  flex-direction: column-reverse;
}
.fr {
  display: flex;
  flex-direction: row;
}
.frw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.basis-full {
  flex-basis: 100%;
}
.basis-half {
  flex-basis: 50%;
  flex-shrink: 0;
}
.basis-none {
  flex-basis: 0%;
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.z-2 {
  z-index: -20;
}
.z-1 {
  z-index: -10;
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 10;
}
.z2 {
  z-index: 20;
}
.grow {
  flex-grow: 1;
}
.g1 {
  gap: 4px;
}
.g2 {
  gap: 8px;
}
.g3 {
  gap: 12px;
}
.g4 {
  gap: 16px;
}
.g5 {
  gap: 20px;
}
.g6 {
  gap: 24px;
}
.g7 {
  gap: 28px;
}
.p-1 {
  padding: 0px 4px;
}
.p0 {
  padding: 0;
}
.p1 {
  padding: 4px;
}
.p2 {
  padding: 8px;
}
.p3 {
  padding: 12px;
}
.p4 {
  padding: 16px;
}
.p-page {
  padding-top: 30px;
  padding-bottom: 200px;
  padding-left: 12px;
  padding-right: 12px;
}
.ma {
  margin: auto;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-hidden {
  overflow: hidden;
}
.loader {
  position: relative;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.loader .loading {
  opacity: 0;
  transition: opacity 300ms;
}
.htmx-request .loader .loading,
.loader.htmx-request .loading {
  opacity: 1;
}
.loader .loaded {
  opacity: 1;
  transition: opacity 300ms;
}
.htmx-request .loader .loaded,
.loader.htmx-request .loaded {
  opacity: 0;
}
.f1 {
  color: var(--f1);
}
.f2 {
  color: var(--f2);
}
.f3 {
  color: var(--f3);
}
.f-success {
  color: var(--f-success);
}
.f-error {
  color: var(--f-error);
}
.b0 {
  background-color: var(--b0);
}
.b1 {
  background-color: var(--b1);
}
.b2 {
  background-color: var(--b2);
}
.b3 {
  background-color: var(--b3);
}
.b-success {
  background-color: var(--b-success);
}
.b-error {
  background-color: var(--b-error);
}
.s-2 {
  font-size: 0.7em;
  }
.s-1 {
  font-size: 0.85em;
}
.s0 {
  font-size: 1em;
}
.s1 {
  font-size: 1.15em;
}
.s2 {
  font-size: 1.3em;
}
.s3 {
  font-size: 1.45em;
}
.s4 {
  font-size: 1.6em;
}
.border {
  border: 1.2px solid var(--f3);
}
.border-2 {
  border: 1px solid var(--f4);
}
.br1 {
  border-radius: 3px;
}
.br2 {
  border-radius: 6px;
}
input,
select {
  outline: none;
  border-radius: 0;
  background-color: inherit;
  color: inherit;
  font: inherit;
  line-height: inherit;
}
textarea {
  display: block;
  outline: none;
  resize: none;
  border-radius: 0;
  border: 0;
  background-color: inherit;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}
.hover:hover {
  filter: invert(20%);
}
.toggled {
  filter: invert(100%);
}
.hover.toggled:hover {
  filter: invert(100%);
}
.active,
.selected {
  filter: invert(10%);
}
.hover.active:hover,
.hover.selected:hover {
  filter: invert(25%);
}
.numbered > *:before {
  content: counter(line);
  display: inline-block;
  border-right: 1px solid var(--f3);
  padding: 0 .5em;
  margin-right: .5em;
  color: var(--f3);
  min-width: 34px;
  text-align: right;
}
.numbered > * {
    display: block;
    counter-increment: line;
}
.prose h1 {
  font-size: 1.45rem;
  margin: 1rem 0;
}
.prose h2 {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.prose h3 {
  font-size: 1.15rem;
  margin: 1rem 0;
}
.prose h1, .prose h2, .prose h3 {
  font-weight: bold;
}
.prose p {
  margin-bottom: 1rem;
  line-height: 1.3;
}
.prose img {
  max-width: 100%;
  display: block;
  max-height: 350px;
}
.prose details {
  margin-bottom: 1rem;
}
.prose a {
  text-decoration: underline;
}
.prose mono {
  font-size: 1em;
}
.prose pre {
  font-variation-settings: "xtab" 500;
  font-size: 0.8em;
  overflow-x: auto;
  width: 100%;
  display: block;
  padding: 8px;
}
.prose code {
  white-space: pre;
  overflow-x: auto;
  width: 100%;
  display: block;
  padding: 8px;
}
.prose ul,
.prose ol {
  padding-left: 19px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.prose ul p,
.prose ol p {
  margin-bottom: 0;
  line-height: 1.4;
}
.prose ul ul,
.prose ol ul,
.prose ul ol,
.prose ol ol {
  margin-bottom: 0;
}
summary {
  user-select: none;
  cursor: pointer;
}
