html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
p, input {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: "Source Code Pro", monospace;
}

textarea, select, input, button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
}

.body-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.body-large {
  font-size: 20px;
  line-height: 24px;
}

.label-regular {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.label-small-mono {
  font-size: 12px;
  line-height: 24px;
  font-family: "Source Code Pro", monospace;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.inter {
  font-family: "Inter", sans-serif;
}

input {
  background-color: inherit;
  color: inherit;
}

.invert {
  filter: invert(1);
}

/* responsive */
@media all and (max-width: 34.375em) {
  .h-100-m40-s {
    height: calc(100% - 40px);
  }
}

@media all and (min-width: 34.375em) {
  .h-100-m40-p1-ns {
    height: calc(100% - (40px + 1rem));
  }
}