html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
p, input {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: "Source Code Pro", monospace;
}

textarea, select, input, button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
}

.body-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.body-large {
  font-size: 20px;
  line-height: 24px;
}

.label-regular {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.label-small-mono {
  font-size: 12px;
  line-height: 24px;
  font-family: "Source Code Pro", monospace;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.inter {
  font-family: "Inter", sans-serif;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}

input {
  background-color: inherit;
  color: inherit;
}

/* spinner */

.spin-active {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

/* responsive */
@media all and (max-width: 34.375em) {
  .h-100-m40-s {
    height: calc(100% - 40px);
  }
}

@media all and (min-width: 34.375em) {
  .h-100-m40-p1-ns {
    height: calc(100% - (40px + 1rem));
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  .bg-black-d {
    background-color: black;
  }
  .white-d {
    color: white;
  }
  .gray1-d {
    color: #4d4d4d;
  }
  .gray2-d {
    color: #7f7f7f;
  }
  .gray3-d {
    color: #b1b2b3;
  }
  .gray4-d {
    color: #e6e6e6;
  }
  .bg-gray0-d {
    background-color: #333;
  }
  .bg-gray1-d {
    background-color: #4d4d4d;
  }
  .b--gray0-d {
    border-color: #333;
  }
  .b--gray1-d {
    border-color: #4d4d4d;
  }
  .b--gray2-d {
    border-color: #7f7f7f;
  }
  .invert-d {
    filter: invert(1);
  }
  a {
    color: #fff;
  }
}
