@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-italic.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-mediumitalic.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bolditalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-super.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-superitalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-extralight.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-medium.woff");
  font-weight: 500;
  font-style: normal;
}
.iden,
.audi,
.time,
#length {
  font-family: "scp";
}
.join-ctrl input {
  font-family: "bau";
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  height: 100%;
  font-family: "bau";
}
#length,
.time {
  font-size: 0.6rem;
  letter-spacing: 0;
  font-weight: 200;
}
input.join,
.iden,
.audi,
#station {
  font-size: 0.7rem;
}
html,
body {
  font-size: 18px;
}
body {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
#c {
  top: 0;
  background-color: #fff;
}
#stations-container {
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 24rem;
  margin-left: -12rem;
  font-size: 4rem;
}
#station-container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 28rem;
  max-height: 2.6rem;
  overflow: hidden;
  margin-left: -14rem;
  padding-top: 1rem;
  background-color: #f5f5f5;
  border-bottom: 3px solid #ededed;
  transition: max-height 0.15s ease-out;
}
#station-container:hover {
  max-height: 12rem;
  transition: max-height 0.25s ease-in;
}
#stations-container,
#messages-container {
  vertical-align: top;
}
#messaging-container {
  position: absolute;
  top: 4rem;
  left: 50%;
  width: 24rem;
  margin-left: -12rem;
  margin-bottom: 4rem;
}
#station > div {
  display: inline-block;
}
#station-meta {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#sources-container {
  width: 6rem;
  float: right;
  margin: 1rem -6rem 0 0;
}
#members {
  margin-left: 2rem;
}
#station .iden {
  display: block;
}
.station {
  display: inline-block;
  width: 9rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-weight: 200;
}
#stations .station {
  display: block;
  width: 24rem;
}
.station .name {
  padding: 0.3rem;
  border-bottom: 6px solid transparent;
}
.station .name:hover {
  background-color: #f5f5f5;
  border-bottom: 6px solid #ededed;
}
.station > div {
  display: inline-block;
}
.toggle {
  width: 0.4rem;
  height: 0.4rem;
  border: 2px solid #000;
  margin-right: 0.6rem;
}
.toggle.active {
  background-color: #000;
}
.station .remove {
  display: none;
  float: right;
  margin-left: 1rem;
  font-weight: 600;
  color: #f00;
}
.station:hover .remove {
  display: inline;
}
#sources-container .station {
  font-family: "scp";
  font-weight: 500;
  text-transform: lowercase;
}
.sour-ctrl {
  margin-bottom: 0.16rem;
}
.join-ctrl input,
.sour-ctrl input {
  border: none;
  font-weight: 400;
}
.sour-ctrl input::-webkit-input-placeholder {
  font-family: "bau";
  font-size: 1rem;
  font-weight: 200;
  margin-left: 0.6rem;
  color: #0003ff;
}
.message {
  padding-top: 0.3rem;
}
#messages .message:last-child {
  margin-bottom: 1rem;
}
#messages .message .time {
  opacity: 0;
}
#messages .message:last-child .time,
#messages .message:hover .time {
  opacity: 1;
}
.time {
  margin-right: 0.6rem;
}
.member {
  width: 12rem;
  margin: 0.3rem 0.6rem 0.3rem 0;
}
#messages {
  height: auto;
}
.mess,
.iden,
.attr > div,
#station .member div,
#writing {
  display: inline-block;
}
.iden > div {
  display: inline;
}
.mess,
#writing,
#length {
  vertical-align: top;
}
.attr {
  color: #d7d7d7;
}
.attr .iden {
  color: #000;
}
.attr > div {
  margin-right: 0.3rem;
}
.mess {
  font-size: 0.9rem;
  line-height: 1.6rem;
  letter-spacing: 0.03rem;
  word-wrap: break-word;
  max-width: 31rem;
}
.ship {
  font-weight: 600;
}
.ship.talk:before {
  content: "...";
  margin-left: -1.3rem;
  margin-right: 0.3rem;
  width: 1rem;
  margin-top: -0.4rem;
  vertical-align: middle;
  display: inline-block;
  line-height: 0.2rem;
  letter-spacing: -0.1rem;
}
#writing-container {
  bottom: 4rem;
  margin-bottom: 1rem;
  float: left;
}
.writing {
  padding-top: 0.3rem;
}
.writing #length {
  display: inline;
  margin-left: 1rem;
  margin-top: 1.2rem;
}
#writing {
  font-size: 0.9rem;
  min-height: 1.6rem;
  line-height: 1.6rem;
  min-width: 1.3rem;
  padding: 0;
  outline: none;
  background-color: #eee;
}
#writing:focus {
  background-color: #fff;
}
#station h1 {
  display: inline-block;
  margin: 0;
  font-weight: 200;
  font-size: 2rem;
  text-transform: lowercase;
}
input.join {
  font-size: 4rem;
  background-color: #fff;
  outline: none;
  width: 24rem;
}
#station input.join {
  font-family: "scp";
  font-size: 0.7rem;
  line-height: 1rem;
  width: 12rem;
}
input.join::-webkit-input-placeholder {
  color: #0003ff;
}
input.join:focus::-webkit-input-placeholder {
  color: #fff;
}
.pending {
  color: #ccc;
}
a.up {
  height: 2rem;
  margin-top: 0.6rem;
  vertical-align: middle;
  display: inline-block;
}
.arow-up {
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #000;
}
#scrolling {
  display: none;
}
.scrolling #scrolling {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  height: 1rem;
  padding: 1rem;
  height: 2rem;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media (max-width: 40rem) {
  #c {
    left: 0;
    margin-left: 0;
    width: 24rem;
  }
  #messages-container,
  #writing-container {
    margin-left: 1rem;
  }
  #stations-container,
  #station-container {
    position: relative;
    float: left;
  }
  #stations-container {
    width: 8rem;
  }
  #station-container {
    left: auto;
  }
  .station {
    width: 5rem;
  }
  .attr {
    display: block;
    text-align: left;
    width: 2rem;
    margin-right: 1rem;
  }
  .message {
    height: 1.6rem;
  }
  .stations,
  .iden,
  #station {
    font-size: 0.5rem;
  }
  .station .remove {
    display: inline;
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
  .ship.talk:before {
    margin-left: -0.3rem;
    margin-right: 0;
  }
  .attr {
    width: 4rem;
  }
  .iden > div {
    display: block;
  }
  .attr > .time {
    display: none;
  }
  .mess {
    max-width: 12rem;
    margin-bottom: 1rem;
  }
  #writing {
    max-width: 12rem;
  }
}
