@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-italic.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-mediumitalic.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bolditalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-super.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-superitalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-extralight.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-black.woff");
  font-weight: 700;
  font-style: normal;
}
.iden,
.audi,
.time,
#length,
#where,
#who,
.station {
  font-family: "scp";
}
.join-ctrl input {
  font-family: "bau";
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  height: 100%;
  font-family: "bau";
}
#length,
.time {
  font-size: 0.6rem;
  letter-spacing: 0;
}
.time {
  font-weight: 200;
}
#length {
  font-weight: 500;
}
input.join,
.iden,
.audi,
#station {
  font-size: 0.7rem;
}
.iden {
  font-weight: 600;
}
html,
body {
  font-size: 18px;
}
body {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
#c {
  position: absolute;
  top: 0rem;
  left: 50%;
  width: 58rem;
  margin-left: -29rem;
  margin-bottom: 12rem;
}
#station-container {
  position: fixed;
  width: 58rem;
  max-height: 2.7rem;
  background-color: #fff;
  border-bottom: 0.3rem solid #000;
  padding-bottom: 1rem;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: max-height 0.2s;
}
#station #station-container {
  padding-top: 1rem;
  min-width: 30rem;
  text-align: right;
}
#writing-container {
  bottom: 4rem;
  margin-bottom: 1rem;
}
#messages-container {
  vertical-align: top;
  margin-top: 4rem;
}
.caret,
.circle {
  display: inline-block;
}
.caret {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #000;
  margin-top: 2px;
}
.circle {
  width: 6px;
  height: 6px;
  border: 3px solid #000;
  border-radius: 6px;
  margin-top: 2px;
}
#station-container #where .caret {
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.2s;
}
#head {
  width: 100%;
  height: 4rem;
}
#station-container h1 {
  font-weight: 500;
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
  display: inline-block;
  line-height: 1.2rem;
}
#audience,
#who {
  width: 34.6rem;
}
#stations,
#where {
  width: 17.3rem;
}
#stations,
#audience,
#head > div {
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
#head > div {
  height: 2rem;
  margin-top: 1.5rem;
}
#where .caret {
  border-left-color: #f00;
  margin-left: 1rem;
}
#where > span,
#who > span {
  vertical-align: top;
}
#who > span {
  margin-left: 1rem;
}
#members > div {
  display: block;
}
#members > div div {
  display: inline-block;
  vertical-align: bottom;
}
#members .audi {
  margin-right: 0.3rem;
}
#members .iden {
  min-width: 10rem;
}
.station div {
  display: inline-block;
}
.station .remove {
  opacity: 0;
  cursor: pointer;
  width: 0.6rem;
  margin-right: 0.6rem;
  font-weight: 600;
  color: #f00;
}
.station:hover .remove {
  opacity: 1;
}
.sour-ctrl input {
  font-family: "scp";
  border: none;
  font-weight: 400;
  text-align: right;
  line-height: 1rem;
  outline: none;
  cursor: pointer;
}
.sour-ctrl input::-webkit-input-placeholder {
  font-family: "scp";
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.6rem;
  color: #000;
}
.sour-ctrl input:focus::-webkit-input-placeholder {
  color: #fff;
}
.message {
  padding-top: 0.3rem;
}
#messages .message:last-child {
  margin-bottom: 1rem;
}
#messages .message .time {
  opacity: 0;
}
#messages .message:last-child .time,
#messages .message:hover .time {
  opacity: 1;
}
#messages .message .ship,
#messages .message .audi > div {
  cursor: pointer;
}
.member {
  width: 12rem;
  margin: 0.3rem 0.6rem 0.3rem 0;
}
#messages {
  height: auto;
}
.message.pending {
  color: #ccc;
}
.message.say .mess {
  font-style: italic;
}
a {
  text-decoration: underline;
  color: inherit;
}
.mess,
.iden,
#station .member div,
#writing {
  display: inline-block;
}
.mess,
#writing,
#length {
  vertical-align: top;
}
.attr > div {
  max-width: 16rem;
}
.attr {
  text-align: right;
  display: inline-block;
  margin-right: 0.3rem;
  min-width: 16rem;
}
.attr .iden {
  margin-left: 0.3rem;
}
.audi {
  white-space: nowrap;
}
.audi > div {
  margin-right: 0.3rem;
  max-width: 8rem;
}
.iden > div {
  max-width: 10rem;
}
.iden > div,
.audi > div {
  display: inline-block;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: max-width 0.2s;
}
.audi > div:last-child {
  margin-right: 0;
}
.iden > div:hover,
.audi > div:hover {
  position: relative;
  -webkit-transition: max-width 0.2s;
}
.mess {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  word-wrap: break-word;
  margin-left: 0.3rem;
}
.mess,
#writing,
.iden > div:hover,
.audi > div:hover {
  max-width: 30rem;
}
#writing {
  font-size: 0.9rem;
  min-height: 1.6rem;
  min-width: 1.3rem;
  outline: none;
  background-color: #eee;
  padding: 0.3rem 0.1rem;
  margin-left: 0.2rem;
  margin-top: -0.3rem;
}
#writing:focus {
  background-color: #fff;
}
.writing {
  padding-top: 0.3rem;
}
.writing #length {
  display: inline;
  margin-left: 1rem;
  margin-top: 1.2rem;
}
.writing .iden {
  display: block;
  text-align: right;
  width: 100%;
}
.writing .iden .ship {
  margin-right: 0.3rem;
}
#audi {
  display: inline-block;
  background-color: #eee;
  padding: 0.3rem 0.1rem;
  margin-top: -0.3rem;
  margin-right: -0.2rem;
  outline: none;
  overflow: hidden;
}
.valid-false {
  color: #ff2f2f;
}
#scrolling {
  display: none;
}
.scrolling #scrolling {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  height: 1rem;
  padding: 1rem;
  height: 2rem;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  #station-container:hover {
    max-height: 30rem;
    height: auto;
    -webkit-transition: max-height 0.2s;
  }
  #station-container:hover #where .caret {
    transform: rotate(90deg);
    transform-origin: 0 50%;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.2s;
  }
}
@media only screen and (max-width: 1170px) {
  #station-container.open {
    max-height: 30rem;
    height: auto;
    -webkit-transition: max-height 0.2s;
  }
  #station-container.open #where .caret {
    transform: rotate(90deg);
    transform-origin: 0 50%;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.2s;
  }
  #c,
  #station-container {
    width: 96%;
    left: 0;
    margin-left: 2%;
    margin-right: 2%;
  }
  .mess,
  #writing {
    max-width: 40%;
    line-height: 1.2rem;
  }
  .attr,
  #stations,
  #where {
    width: 20%;
    min-width: 20%;
  }
  #audience,
  #who {
    width: 60%;
  }
  #writing {
    padding: 0.1rem;
  }
  #station-container.m-down,
  #station-container.m-up {
    position: absolute;
  }
  #station-container.m-down.m-fixed {
    position: fixed;
    top: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mess,
  #writing {
    max-width: 70%;
    line-height: 1.2rem;
  }
  #stations,
  #audience {
    width: 96%;
  }
  #stations,
  #audience,
  .sour-ctrl input {
    text-align: left;
  }
  #station {
    cursor: pointer;
  }
  #station-container.open {
    max-height: 30rem;
    height: auto;
    -webkit-transition: max-height 0.2s;
  }
  #station-container.open #where .caret {
    transform: rotate(90deg);
    transform-origin: 0 50%;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.2s;
  }
}
