@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-italic.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-mediumitalic.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-bolditalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-super.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "bau";
  src: url("http://storage.googleapis.com/urbit-extra/bau-superitalic.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-extralight.woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-bold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "scp";
  src: url("http://storage.googleapis.com/urbit-extra/scp-black.woff");
  font-weight: 700;
  font-style: normal;
}
.iden,
.audi,
.time,
#length {
  font-family: "scp";
}
.join-ctrl input {
  font-family: "bau";
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  height: 100%;
  font-family: "bau";
}
#length,
.time {
  font-size: 0.6rem;
  letter-spacing: 0;
  font-weight: 200;
}
input.join,
.iden,
.audi,
#station {
  font-size: 0.7rem;
}
.iden {
  font-weight: 600;
}
html,
body {
  font-size: 18px;
}
body {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
#c {
  position: absolute;
  top: 4rem;
  left: 50%;
  width: 58rem;
  margin-left: -29rem;
  margin-bottom: 4rem;
}
#station-container {
  position: absolute;
  top: 1rem;
}
#station #station-container {
  padding-top: 1rem;
  min-width: 30rem;
  text-align: right;
}
#writing-container {
  bottom: 4rem;
  margin-bottom: 1rem;
}
#messages-container {
  vertical-align: top;
}
#station > div {
  display: inline-block;
}
#station-meta .audi,
#station-meta .iden {
  display: inline-block;
}
#station-meta .iden {
  width: 6rem;
  margin-left: 0.3rem;
}
.station .remove {
  display: none;
  float: right;
  margin-left: 1rem;
  font-weight: 600;
  color: #f00;
}
.station:hover .remove {
  display: inline;
}
.sour-ctrl input {
  border: none;
  font-weight: 400;
}
.sour-ctrl input::-webkit-input-placeholder {
  font-family: "bau";
  font-size: 1rem;
  font-weight: 200;
  margin-left: 0.6rem;
  color: #0003ff;
}
.message {
  padding-top: 0.3rem;
}
#messages .message:last-child {
  margin-bottom: 1rem;
}
#messages .message .time {
  opacity: 0;
}
#messages .message:last-child .time,
#messages .message:hover .time {
  opacity: 1;
}
#messages .message .ship {
  cursor: pointer;
}
.member {
  width: 12rem;
  margin: 0.3rem 0.6rem 0.3rem 0;
}
#messages {
  height: auto;
}
.mess,
.iden,
#station .member div,
#writing {
  display: inline-block;
}
.iden > div {
  display: inline;
}
.mess,
#writing,
#length {
  vertical-align: top;
}
.attr {
  text-align: right;
  display: inline-block;
  margin-right: 0.3rem;
  min-width: 10rem;
}
.attr .iden {
  color: #000;
  width: 6rem;
  margin-left: 0.3rem;
}
.mess {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  word-wrap: break-word;
  max-width: 30rem;
  margin-left: 0.3rem;
}
#writing {
  font-size: 0.9rem;
  min-height: 1.6rem;
  min-width: 1.3rem;
  outline: none;
  background-color: #eee;
  padding: 0.3rem 0.1rem;
  margin-left: 0.2rem;
  margin-top: -0.3rem;
}
#writing:focus {
  background-color: #fff;
}
.writing {
  padding-top: 0.3rem;
}
.writing #length {
  display: inline;
  margin-left: 1rem;
  margin-top: 1.2rem;
}
.writing .iden {
  display: block;
  text-align: right;
  width: 100%;
}
.writing .iden .ship {
  margin-right: 0.3rem;
}
#audi {
  display: inline-block;
  background-color: #eee;
  padding: 0.3rem 0.1rem;
  margin-top: -0.3rem;
  margin-right: -0.2rem;
  outline: none;
}
#audi.valid-false {
  color: #ff2f2f;
}
#scrolling {
  display: none;
}
.scrolling #scrolling {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  height: 1rem;
  padding: 1rem;
  height: 2rem;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}
