/* laptops / small screens ----------- */
@media only screen and (max-width: 1170px)
  #c
  #station-container
    width 96%
    left 0
    margin-left 2%
    margin-right 2%
  
  .mess
  #writing
    max-width 40%
    line-height 1.2rem
  
  .attr
  #stations
  #where
    width 20%
    min-width 20%
  
  #audience
  #who
    width 60%
  
  #writing
    padding .1rem
    
  .m-down
  .m-up
    position absolute
  
  .m-down.m-fixed
    position fixed
    top 0

/* tablets + phones ----------- */
// @media only screen and (min-width: 320px) and (max-width: 1024px)

/* phones portrait and landscape ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  .mess
  #writing
    max-width 70%
    line-height 1.2rem
  
  #station
    cursor pointer
  
  #station-container:hover
    max-height 2.7rem
  
  #station-container:hover #where .caret
    transform none