.planet,
.room {
  font-family: 'scp'; }

div.input.valid-false {
  color: #FF0808;
  border-color: #FF0808; }

.grams {
  list-style-type: none;
  padding: 0; }
  .grams .meta {
    display: inline-block; }

.grams .meta {
  max-height: 1.6rem;
  overflow: hidden;
  width: 100%; }
  .grams .meta label {
    margin-right: 0.9375rem;
    height: 0.9375rem;
    width: 0.9375rem;
    text-align: center; }
  .grams .meta label:before {
    content: attr(data-glyph);
    color: #fff;
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 500;
    line-height: 1rem;
    vertical-align: middle; }
  .grams .meta label,
  .grams .meta h2,
  .grams .meta h3 {
    display: inline-block;
    vertical-align: top; }
  .grams .meta h2,
  .grams .meta h3 {
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0; }
  .grams .meta h3 {
    margin-left: 2rem;
    line-height: 1rem; }
  .grams .meta .time {
    padding-right: 2rem;
    float: right; }

.grams .meta:hover {
  overflow: visible; }

.gram:hover {
  z-index: 2;
  position: relative; }

div.gram.first:first-of-type {
  margin-top: 0; }

div.gram.first {
  margin-top: 1.875rem; }

div.gram.same div.meta {
  display: none; }

div.gram.same:hover div.meta {
  display: block;
  position: absolute;
  z-index: 0; }
  div.gram.same:hover div.meta label, div.gram.same:hover div.meta h2, div.gram.same:hover div.meta h3 {
    display: none; }
  div.gram.same:hover div.meta h3.time {
    display: block;
    opacity: .6;
    padding-right: 3.8rem; }

.speech {
  position: absolute;
  z-index: 1;
  margin-left: 1.875rem; }
  .speech .fat {
    max-height: 0;
    transition: max-height .1s ease-in-out;
    overflow: hidden; }
  .speech .fat pre {
    color: #fff; }
  .speech:hover .fat {
    max-height: 16rem;
    overflow: scroll;
    background-color: #000;
    color: #fff; }

.exp {
  font-family: 'scp';
  font-size: .9rem; }
  .exp .speech {
    max-width: 100%;
    overflow-x: scroll; }
  .exp .speech > span {
    color: #fff;
    background-color: #000;
    padding: .3rem; }

.comment .speech a.btn {
  background-color: transparent;
  color: #B1B7BD;
  font-size: .9rem;
  border: 0;
  border-bottom: 3px solid #b1b7bd;
  text-transform: none;
  text-decoration: none;
  padding: 0;
  line-height: 1rem;
  margin: 1rem 0 2rem 0;
  letter-spacing: 0; }

.gram pre {
  background-color: transparent; }

div.gram label {
  background-color: #000; }

div.gram.say .speech {
  font-style: italic; }

div.gram.pending .speech {
  color: #B1B7BD; }

.author,
.path {
  cursor: pointer; }

input.action {
  background-color: transparent;
  border-color: transparent;
  font-family: 'scp';
  font-size: .8rem; }

input.action.valid-false {
  color: #FF0808; }

input.action::-webkit-input-placeholder {
  color: #000;
  font-family: 'bau';
  font-size: 1rem; }

input.action:-moz-placeholder {
  color: #000;
  font-family: 'bau';
  font-size: 1rem; }

input.action::-moz-placeholder {
  color: #000;
  font-family: 'bau';
  font-size: 1rem; }

input.action:-ms-input-placeholder {
  color: #000;
  font-family: 'bau';
  font-size: 1rem; }

input.action:focus::-webkit-input-placeholder {
  color: transparent; }

input.action:focus:-moz-placeholder {
  color: transparent; }

input.action:focus::-moz-placeholder {
  color: transparent; }

input.action:focus:-ms-input-placeholder {
  color: transparent; }

.menu {
  max-height: 100%; }
  .menu .planet,
  .menu .room {
    margin-bottom: .8rem; }
  .menu .name,
  .menu .planet {
    display: inline-block; }
  .menu .name,
  .menu .planet,
  .menu .room {
    font-size: .8rem; }
  .menu .room > div {
    display: inline;
    cursor: pointer; }
  .menu .room > div.selected {
    font-weight: 500; }
  .menu .room .close {
    display: none;
    margin: 0;
    float: none;
    margin-left: .6rem;
    font-weight: 600;
    font-size: .8rem;
    color: #FF0808; }
  .menu .room:hover .close {
    display: inline; }
  .menu .room.disabled {
    opacity: .6; }
  .menu .name {
    display: none;
    min-width: 33.333%;
    font-size: .9rem; }
  .menu .planet {
    min-width: 66.667%; }

.menu.depth-2 {
  overflow: scroll; }

.input {
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 .2rem;
  min-width: 1rem;
  min-height: 1rem;
  outline: none; }
  .input[contenteditable] {
    border-bottom: 3px solid #000; }

.audience,
.message {
  margin-left: 1.875rem; }

.audience {
  margin-bottom: 1rem; }

.audience .input {
  border-color: #B1B7BD;
  font-family: 'scp';
  font-size: .8rem; }

.message {
  display: inline-block; }

.message .input {
  border-color: #373a3c;
  font-family: 'bau'; }

.writing {
  margin-top: 2rem; }

.length {
  display: inline-block;
  width: 120px;
  margin-left: 2rem;
  line-height: 2rem;
  font-family: 'bau';
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: 1px; }
