/* computers --------*/
// @media only screen and (min-width: 1024px)
  

/* laptops / small screens ----------- */
// @media only screen and (max-width: 1170px)


/* tablets + phones ----------- */
// @media only screen and (min-width: 320px) and (max-width: 1024px)

/* phones portrait and landscape ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  #c
    width 100%
    margin 0
    left .6rem
  
  h1
    font-size 1rem
    
  input
  textarea
    -webkit-appearance none
    border-radius 0
  
  .input
    padding 0 .3rem 0 .1rem
  
  .ctrl
    margin-top 1rem
  
  .ctrl .sorts
  .ctrl .filters
    margin-left 0
  
  .ctrl .filters .done label
    display none
  
  .ctrl .sort
    padding .2rem .3rem
  
  .ctrl .filter
    line-height 1.3rem

  .ctrl .sort label
  .ctrl .filter label
    font-size .7rem
    letter-spacing .05rem
    line-height 1.3rem
  
  .items
    margin-left 0
    
  .item
    width auto
  
  .item .sort
    display none
  
  .item .title
  .item .date
  .item .tags
    min-width 4rem
    max-width 6rem
    overflow hidden
    margin-left .3rem
  
  .item .expand
    float right
    margin-right .6rem
  
  .item .description
  .item .discussion
    margin .5rem 0
  
  .item .description textarea
    min-width 18rem
    margin 0
  
  .item .comment.new
    max-width 18rem
  
  .item .submit
    line-height 1.6rem 
    letter-spacing 0