/* computers --------*/
// @media only screen and (min-width: 1024px)
  

/* laptops / small screens ----------- */
// @media only screen and (max-width: 1170px)


/* tablets + phones ----------- */
// @media only screen and (min-width: 320px) and (max-width: 1024px)

/* phones portrait and landscape ----------- */
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
