* {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: Inter, sans-serif;
  padding: 0;
}

textarea, input, button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
}

.dropdown::after {
  content: "⌃";
  transform: rotate(180deg);
  position: absolute;
  right: 12px;
  top: 8px;
}

a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

.body-large {
  font-size: 20px;
  line-height: 24px;
}

.body-medium {
  font-size: 16px;
  line-height: 19px;
}

.body-small {
  font-size: 12px;
  line-height: 16px;
  color: #7f7f7f;
}

.label-regular {
  font-size: 14px;
}

.inter {
  font-family: Inter, sans-serif;
}

.clamp-3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-message {
  max-width: calc(100% - 36px - 1.5rem);
}

.clamp-attachment {
  overflow: scroll;
  max-height: 10em;
  max-width: 100%;
}

.lh-16 {
  line-height: 16px;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.list-ship {
  line-height: 2.2;
}

.c-default {
  cursor: default;
}

.word-break-all {
  word-break: break-all;
}

/* embeds */
.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 28.125%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* responsive */

@media all and (max-width: 34.375em) {
  .dn-s {
    display: none;
  }
  .flex-basis-full-s {
    flex-basis: 100%;
  }
  .h-100-minus-48-s {
    height: calc(100% - 48px);
  }
  .h-100-minus-96-s {
    height: calc(100% - 96px);
  }
  .embed-container {
    padding-bottom: 56.25%;
  }
}

@media all and (min-width: 34.375em) and (max-width: 46.875em) {
  .flex-basis-300-m {
    flex-basis: 300px;
  }
  .h-100-minus-48-m {
    height: calc(100% - 48px);
  }
  .embed-container {
    padding-bottom: 56.25%;
  }
}

@media all and (min-width: 46.875em) and (max-width: 60em) {
  .flex-basis-300-l {
    flex-basis: 300px;
  }
  .h-100-minus-48-l {
    height: calc(100% - 48px);
  }
  .embed-container {
    padding-bottom: 37.5%;
  }
}

@media all and (min-width: 60em) {
  .flex-basis-300-xl {
    flex-basis: 300px;
  }
  .h-100-minus-48-xl {
    height: calc(100% - 48px);
  }
}

/* dark */

@media (prefers-color-scheme: dark) {
  .bg-black-d {
    background-color: black;
  }
  .white-d {
    color: white;
  }
  .gray1-d {
    color: #4d4d4d;
  }
  .gray2-d {
    color: #7f7f7f;
  }
  .gray3-d {
    color: #b1b2b3;
  }
  .gray4-d {
    color: #e6e6e6;
  }
  .bg-gray0-d {
    background-color: #333;
  }
  .b--gray0-d {
    border-color: #333;
  }
  .b--gray2-d {
    border-color: #7f7f7f;
  }
  .bb-d {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .invert-d {
    filter: invert(1);
  }
  .o-80-d {
    opacity: .8;
  }
  a {
    color: #fff;
  }
  .b--white-d {
    border-color: #fff;
  }
  .bn-d {
    border: 0;
  }
}
