p {
  color: black;
}

p.result {
  color: #6a65ff;
  font-weight: bold;
  font-size: 14px;
}

p.noresult {
  color: #d64040;
  font-weight: bold;
  font-size: 14px;
}

p.error {
  color: #d64040;
  font-size: 10px;
}

p.trace {
  color: #5a57a7;
  font-size: 10px;
}

pre.docs {
  font-size: 10px;
}
