:root {
  --dark-gray: #555555;
  --gray: #7F7F7F;
  --medium-gray: #CCCCCC;
  --light-gray: rgba(0,0,0,0.08);
}

.NotebookButton {
  border-radius:2px;
  cursor: pointer;
}

.NewPost {
  width: 100%;
  height: calc(100vh - 184px);
  display: flex;
  padding-top: 8px;
}

.EditPost {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  padding-top: 8px;
}

.placeholder-inter::placeholder {
  font-family: "Inter", sans-serif;
}

.publish .react-codemirror2 {
  width: 100%;
  height: 100%;
}

.publish .CodeMirror {
  padding: 12px;
  height: 100% !important;
  overflow-y: hidden;
  width: 100% !important;
  cursor: text;
  font-size: 12px;
  line-height: 20px;
  background: inherit;
  color: inherit;
}

.publish .CodeMirror * {
    font-family: 'Source Code Pro';
}

.publish .CodeMirror-selected { background:#BAE3FE !important; color: black; }

.publish .cm-s-tlon span { font-family: "Source Code Pro"}
.publish .cm-s-tlon span.cm-meta { color: var(--gray); }
.publish .cm-s-tlon span.cm-number { color: var(--gray); }
.publish .cm-s-tlon span.cm-keyword { line-height: 1em; font-weight: bold; color: var(--gray); }
.publish .cm-s-tlon span.cm-atom { font-weight: bold; color: var(--gray); }
.publish .cm-s-tlon span.cm-def { color: black; }
.publish .cm-s-tlon span.cm-variable { color: black; }
.publish .cm-s-tlon span.cm-variable-2 { color: black; }
.publish .cm-s-tlon span.cm-variable-3, .publish .cm-s-tlon span.cm-type { color: black; }
.publish .cm-s-tlon span.cm-property { color: black; }
.publish .cm-s-tlon span.cm-operator { color: black; }
.publish .cm-s-tlon span.cm-comment { color: black; background-color: var(--light-gray); display: inline-block; border-radius: 2px;}
.publish .cm-s-tlon span.cm-string { color: var(--dark-gray); }
.publish .cm-s-tlon span.cm-string-2 { color: var(--gray); }
.publish .cm-s-tlon span.cm-qualifier { color: #555; }
.publish .cm-s-tlon span.cm-error { color: #FF0000; }
.publish .cm-s-tlon span.cm-attribute { color: var(--gray); }
.publish .cm-s-tlon span.cm-tag { color: var(--gray); }
.publish .cm-s-tlon span.cm-link { color: var(--dark-gray); text-decoration: none;}
.publish .cm-s-tlon .CodeMirror-activeline-background { background: var(--gray); }
.publish .cm-s-tlon .CodeMirror-cursor {
  border-left: 2px solid #3687FF;
}

.publish .cm-s-tlon span.cm-builtin { color: var(--gray); }
.publish .cm-s-tlon span.cm-bracket { color: var(--gray); }
/* .publish .cm-s-tlon  { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;} */


.publish .cm-s-tlon .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.publish .CodeMirror-hints.tlon {
  /* font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; */
  color: #616569;
  background-color: #ebf3fd !important;
}

.publish .CodeMirror-hints.tlon .CodeMirror-hint-active {
  background-color: #a2b8c9 !important;
  color: #5c6065 !important;
}

.title-input[placeholder]:empty:before {
  content: attr(placeholder);
  color: #7F7F7F;
}

.options.open {
  background-color: #e6e6e6;
}

.options.closed {
  background-color: white;
}

.options::after {
  content: "⌃";
  transform: rotate(180deg);
  position: absolute;
  right: 8px;
  top: 4px;
  color: #7f7f7f;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.dropdown::after {
  content: "⌃";
  transform: rotate(180deg);
  position: absolute;
  right: 8px;
  top: 16px;
  color: #7f7f7f;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md p, .md a, .md ul, .md ol, .md blockquote,.md code,.md pre {
  font-size: 14px;
  margin-bottom: 16px;
}

.md h2, .md h3, .md h4, .md h5, .md p, .md a, .md ul {
  font-weight: 400;
}

.md h1 {
  font-weight: 600;
}

.md h2, .md h3, .md h4, .md h5 {
  color:var(--gray);
}

.md {
  line-height: 1.5;
}
.md code, .md pre {
  font-family: "Source Code Pro", mono;
  white-space: pre-wrap;
}
.md ul>li, .md ol>li {
  line-height: 1.5;
}
.md a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.md img {
  margin-bottom: 8px;
}

@media all and (prefers-color-scheme: dark) {
  .options.open {
    background-color: #4d4d4d;
  }
  .options.closed {
    background-color: #333;
  }
  .publish .cm-s-tlon.CodeMirror {
    background: unset;
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-def {
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-variable {
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-variable-2 {
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-variable-3,
  .publish .cm-s-tlon span.cm-type {
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-property {
    color: inherit;
  }

  .publish .cm-s-tlon span.cm-operator {
    color: inherit;
  }


  .publish .cm-s-tlon span.cm-string {
    color: var(--gray);
  }

  .publish .cm-s-tlon span.cm-string-2 {
    color: var(--gray);
  }

  .publish .cm-s-tlon span.cm-attribute {
    color: var(--gray);
  }

  .publish .cm-s-tlon span.cm-tag {
    color: var(--gray);
  }

  .publish .cm-s-tlon span.cm-link {
    color: var(--gray);
  }

  /* set rules w/ both color & bg-color last to preserve legibility */
  .publish .CodeMirror-selected {
    background: var(--medium-gray) !important;
    color: white;
  }

  .publish .cm-s-tlon span.cm-comment {
    color: black;
    display: inline-block;
    padding: 0;
    background-color: rgba(0,255,255, 0.3);
    border-radius: 2px;
  }
}
