
.ProseMirror-menubar {
  padding: 4px !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ProseMirror-example-setup-style {
  padding: 4px !important;
}

.ProseMirror > *, .ProseMirror-menubar > * {
  font-family: "Inter", "Inter UI", -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
}

