#what,
#bord {
  width: 600px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

#what {
  height: 36px;
  top: 18px;
}

#bord {
  height: 600px;
  position: absolute;
  top: 111px;
  opacity: .6;
}

.turn #bord {
  opacity: 1;
}

#what {
  font-family: "bau";
}

#what div {
  display: inline-block;
}

#what .ship {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.turn #what #ship,
#what #user {
  border: 2px solid #fff;
}

#what #ship,
.turn #what #user {
  border: 2px solid red;
}

#what #ship,
#what #user {
  padding: .6rem;
}

#what .as {
  width: 1.6rem;
}

#vs {
  margin: 0 1rem;
  padding: .3rem;
  color: #fff;
  background-color: #000;
}

.spac {
  font-size: 100px;
  line-height: 200px;
}

.spac {
  width: 198px;
  height: 198px;
  border: 1px solid #000;
  text-align: center;
  float: left;
  cursor: pointer;
}

.spac[data-index="0-0"],
.spac[data-index="1-0"],
.spac[data-index="2-0"] {
  border-left: 0;
}

.spac[data-index="0-0"],
.spac[data-index="0-1"],
.spac[data-index="0-2"] {
  border-top: 0;
}

.spac[data-index="2-0"],
.spac[data-index="2-1"],
.spac[data-index="2-2"] {
  border-bottom: 0;
}

.spac[data-index="0-2"],
.spac[data-index="1-2"],
.spac[data-index="2-2"] {
  border-right: 0;
}
