body {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  body {
    scrollbar-color: #333333 transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #333333;
  }
}

.h1 {
  @apply text-2xl sm:text-3xl font-bold leading-relaxed tracking-tighter;
}

.h2 {
  @apply text-xl sm:text-2xl font-semibold leading-snug tracking-tight;
}

.h3 {
  @apply text-lg sm:text-xl font-semibold leading-relaxed tracking-tight;
}

.h4 {
  @apply text-base sm:text-lg font-bold leading-normal tracking-tight;
}

.default-ring {
  @apply focus-visible:ring-2 ring-blue-400 ring-opacity-80 focus-visible:outline-none focus:outline-none;
}
