.note-grid-content {
  display: grid;
  grid-template-columns: 1.5rem 1fr 4rem;
  grid-template-rows: 1.5rem 1.5rem;
  grid-gap: 0.5rem;
  padding: 1rem;
  grid-template-areas:
    'icon title actions '
    'arrow head head'
    '. body body';
}

.note-grid-no-content {
  display: grid;
  width: 100%;
  padding: 1rem;
  grid-template-columns: 3.5rem 1fr 4rem;
  grid-column-gap: 0.75rem;
  align-items: center;
  grid-template-areas:
    'icon  title actions'
    'icon  head head';
}
.note-grid-title {
  grid-area: title;
}

.note-grid-icon {
  grid-area: icon;
}

.note-grid-body {
  grid-area: body;
}

.note-grid-head {
  grid-area: head;
}

.note-grid-arrow {
  grid-area: arrow;
}

.note-grid-actions {
  grid-area: actions;
}

@media (min-width: 640px) {
  .note-grid-content {
    grid-template-columns: 1.5rem 1fr 6rem;
    grid-template-rows: 1.5rem 1.5rem;
    grid-template-areas:
      'icon title actions '
      'arrow head actions'
      '. body actions';
  }

  .note-grid-no-content {
    grid-template-rows: 1.75rem 1.75rem;
    grid-template-columns: 3.5rem 1fr 6rem;
    grid-template-areas:
      'icon  title actions'
      'icon  head actions';
  }
}
