

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  line-height: 1.1rem;
  color: #555;
  text-decoration: none;
}
li a, p a {
  display: inline-block;
  border-bottom: 2px solid #ccc;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

li a:hover, p a:hover,
li a:hover, p a:focus {
  text-decoration: none;
  border-bottom: 2px solid #555;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: .9rem;
}
h4, h5, h6 {
  margin-top: .9rem;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .03rem;
}

/* Body text */
p {
  max-width: 42rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre, .codeblock {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 90%;
  background-color: #f9f9f9;
  border-radius: none;
}
pre, .codeblock {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .9rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  width: 42rem;
  background-color: #f9f9f9;
}
pre code, .codeblock code {
  padding: 0;
  font-size: 90%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: none;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  padding-left: 0;
  max-width: 32rem;
  margin: .8rem 0;
  color: #7a7a7a;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 0;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: none;
  min-width:100%;
  max-width:100%;
  height:auto;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 42rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.subpage,
.post {
  margin-top: 2rem;
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}

.hll { background-color: #ffffcc }


.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

.toggle {
    display: none;
}
.subnav li.active .toggle, .toggle.active {
    display: block;
}

.setup .subnav li.active > a {
    border-color: #000;
    font-weight: bold;
    color: #000;
}

.sidebar-about {
    height: 3rem;
}

.sidebar-about h1 {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block
}

.sidebar-about > a:focus,
.sidebar-about > a:hover {
    border: none;
    text-decoration: none;
}

.sidebar-about h1.title {
    border-bottom: 3px solid transparent;
}

.sidebar-about h1.logo {
    margin-top: .6rem;
    margin-right: .6rem;
    margin-left: -2rem;
    margin-bottom: 0;
    height: 1rem;
    float: left;
}

@media only screen and (max-width: 500px) {
    .sidebar-about h1.logo {
        margin-left: 0;
    }
}

img.logo {
    width: 1.2rem;
    height: 1.2rem;
}

.sidebar-about p.lead {
    font-size: .8rem;
    font-weight: normal;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
}

.sidebar-nav li > a {
    border: none;
    border-bottom: 3px solid #fff;
}

.sidebar-about h1.title:focus,
.sidebar-about h1.title:hover,
.sidebar-nav li > a.active,
.sidebar-nav li > a:focus,
.sidebar-nav li > a:hover {
    text-decoration: none;
    border-bottom: 3px solid #555;
}

.sidebar-about > a > img {
    width: 30px;
}

.sidebar-nav-item {
    display: inline-block;
    min-width: 13rem;
    font-size: 1rem;
}

.footer {
    margin-bottom: 4rem;
}

.footer .sidebar-nav-item {
    margin-top: 4rem;
}

ul,ol {
    padding-left: 2rem;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: circle;
}

ul.chat {
    list-style-type: none;
}

ul.chat li {
    margin-bottom: 2rem;
}

.doc-hoon h1, .doc-hoon h2 {
    margin-top: 3rem;
}

.documentation > ul {
    list-style-type: none;
    padding-left: 0;
    float: left;
}

.documentation ul > li {
    float: left;
    width: 13rem;
}

code, .subnav > ul > li > ul {
    font-family: "Menlo", "Courier New", courier, monospace;
    color: inherit;
}

.subnav > ul > li > ul {
    font-size: .9rem;
    overflow: hidden;
    height: 0;
    margin-right: 2rem;
}

.subnav > ul > li.active > ul {
    overflow: visible;
    height: auto;
}

.subnav > ul > li .section {
    display: inline-block;
}

.setup .subnav li > a.expand, .subnav > ul > li .expand {
    font-size: .6rem;
    border: 0;
}

.setup .subnav li > a.expand:before, .subnav > ul > li .expand:before {
    content: "\25B6";
    font-size: .6rem;
}

.setup .subnav li > a.expand:before {
    margin-right: .6rem;
}

.setup .subnav li.active > a.expand:before, .subnav > ul > li.active .expand:before {
    content: "\25BC";
    font-size: .6rem;
}

.subnav, .subnav  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 .6rem 0;
}

.subnav  ul > li > ul > li {
    margin-bottom: .3rem;
}

.subnav a.active {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #555;
}

.page.setup .subnav .toggle {
    margin: 1rem 0 2rem 1.6rem;
}

@media only screen and (min-width: 54rem) {
    .doc-hoon .subnav.arms a{
        font-size: .8rem;
    }
    .doc-hoon .subnav.runes, .doc-hoon .subnav.arms {
        position: fixed;
        top: 8rem;
        left: 50%;
        margin-left: -30rem;
        overflow-y: scroll;
    }
    .subnav > ul > li > ul {
        margin-right: 0;
    }
}
