{
  "presets": [
    "@babel/preset-typescript", //needed for .ts jest tests
    [
      "@babel/preset-env",
      {
        "targets": "> 1%",
        "useBuiltIns": "usage",
        "corejs": "3.19.1"
      }
    ]
  ]
}
