.c-default {
  cursor: default;
}

.m0a {
  margin: 0 auto;
}

a, a:any-link, a:-webkit-any-link {
  text-decoration: none !important;
  color: none !important;
}

*|*:link {
  text-decoration: none !important;
  color: none !important;
}

a * {
  text-decoration: none !important;
  text-decoration-color: none;
  text-decoration-line: none;
}

ol, ul {
  margin-block-start: 0;
  margin-block-end: 0;

}

span {
  box-sizing: border-box;
}
