a {
  cursor: pointer; }

ul {
  padding: 0; }

button:focus {
  outline: none; }

h1,
h2,
h3 {
  padding-top: 2rem; }

h1:first-of-type {
  padding-top: 0; }

pre {
  background-color: #f7f7f7;
  margin-left: -.3rem;
  padding-left: .3rem; }

.container {
  padding-top: 3rem;
  padding-bottom: 9rem; }

@media (max-width: 767px) {
  .container {
    padding-top: 0; } }
.close {
  font-weight: 300;
  font-size: 1rem;
  text-shadow: none;
  opacity: 1; }

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem; }

  h2 {
    font-size: 1.6rem; } }
.planet,
.room {
  font-family: 'scp'; }

.body {
  padding-left: 0; }

@media (max-width: 767px) {
  .body {
    padding-left: 0.9375rem;
    margin-top: 4rem; } }
.action {
  margin-top: 1rem;
  font-weight: 500;
  letter-spacing: 1px; }

.action > label {
  margin-right: 0.9375rem;
  line-height: 1rem; }

.action.create > label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #000;
  vertical-align: middle; }

.action.add > label:before {
  content: "+";
  font-size: 1.3rem;
  font-weight: 500; }

.nav.container {
  position: fixed;
  left: 50%;
  width: 100%;
  padding-top: 0;
  z-index: 100; }
  @media (min-width: 544px) {
    .nav.container {
      margin-left: -288px; } }
  @media (min-width: 768px) {
    .nav.container {
      margin-left: -360px; } }
  @media (min-width: 992px) {
    .nav.container {
      margin-left: -470px; } }
  @media (min-width: 1200px) {
    .nav.container {
      margin-left: -570px; } }

@media (max-width: 767px) {
  .nav.container {
    left: 0;
    top: 0; } }
.ctrl,
.menu .contents {
  padding-top: 3rem; }

.ctrl {
  padding-left: 1.875rem; }
  .ctrl ul.nav {
    margin-top: 2rem;
    overflow: hidden; }
  .ctrl ul.nav:hover {
    overflow: visible; }
  .ctrl a.nav-link:hover {
    text-decoration: underline; }
  .ctrl a.nav-link {
    letter-spacing: 1px; }
  .ctrl .selected a.nav-link {
    font-weight: 500;
    letter-spacing: 0; }

@media (max-width: 991px) {
  ul.nav {
    line-height: 1.3rem; }

  a.nav-link {
    font-size: .8rem; } }
@media (max-width: 767px) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #000;
    -webkit-transition: max-height 0.6s ease-in-out;
    -moz-transition: max-height 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out; }

  ul.nav {
    line-height: 2rem;
    margin-bottom: 2rem; }

  a.nav-link {
    font-size: 1rem; }

  .ctrl.open {
    max-height: 25rem; }
    .ctrl.open ul.nav {
      max-height: 9rem;
      overflow-y: scroll; }

  ul.nav {
    margin-top: 1rem; } }
.navbar-toggler {
  transition: opacity .2s, transform .3s;
  -webkit-transition: opacity .2s, transform .3s; }

.navbar-toggler.open {
  transform: rotate(0.25turn);
  opacity: .2; }

@media (min-width: 768px) {
  .ctrl .navbar-toggler {
    display: none; }

  .ctrl .navbar-toggler.show {
    display: inherit;
    padding: 0;
    margin-left: 2px; } }
@media (max-width: 991px) {
  .navbar-toggler {
    font-size: 1rem;
    margin-left: 0; } }
@media (max-width: 767px) {
  .navbar-toggler {
    padding: 0; } }
.icon div {
  display: inline-block;
  margin-right: .6rem; }
.icon .home {
  margin: 6px 9px 12px 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #B1B7BD; }
.icon .dpad {
  display: block; }
.icon .up {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-bottom: 18px solid #000;
  border-top: 0 solid transparent; }
.icon .prev {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-right: 18px solid #000;
  border-left: 0 solid transparent;
  margin-right: 0.6rem; }
.icon .next {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-left: 18px solid #000;
  border-right: 0 solid transparent; }

@media (max-width: 991px) {
  .icon > div {
    display: inline-block;
    margin-right: .6rem;
    vertical-align: middle; }
  .icon .dpad {
    display: inline; }
  .icon .home {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border-width: 4px; }
  .icon .up {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-bottom: 12px solid #000;
    border-top: 0 solid transparent;
    margin-left: 1px; }
  .icon .prev {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-right: 12px solid #000;
    border-left: 0 solid transparent;
    margin-right: 0.6rem; }
  .icon .next {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-left: 12px solid #000;
    border-right: 0 solid transparent; } }
@media (max-width: 767px) {
  .icon {
    margin-left: 0; }
    .icon .home {
      margin-top: 0;
      margin-bottom: 0; } }
.menu {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  .menu .contents {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 6rem;
    position: relative;
    left: -100%;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  .menu .close {
    margin-top: -2rem; }
  .menu h2 {
    font-size: 1rem;
    padding-top: 3rem; }
  .menu h2:first-of-type {
    padding-top: 0; }
  .menu label.sum {
    font-family: 'scp';
    margin-left: 0.9375rem;
    font-size: 1.2rem; }
  .menu .name,
  .menu .planet {
    display: inline-block; }
  .menu .name,
  .menu .planet,
  .menu .room {
    font-size: .8rem; }
  .menu .name {
    min-width: 33.333%;
    font-size: .9rem; }
  .menu .planet {
    min-width: 66.667%; }

.menu.depth-1 .contents {
  background-color: #f7f7f9;
  border-left: 2px solid #B1B7BD; }

.menu.depth-2 .contents {
  background-color: #eceeef;
  border-left: 2px solid #B1B7BD; }

.menu.open .contents {
  left: 0; }

@media (max-width: 767px) {
  .menu {
    height: 100%;
    padding-left: 0.9375rem; }
    .menu .contents {
      left: inherit;
      top: -100%;
      padding-top: 0.9375rem;
      -webkit-transition: top 0.3s ease-in-out;
      -moz-transition: top 0.3s ease-in-out;
      transition: top 0.3s ease-in-out; }
    .menu .close {
      margin-top: 0; }

  .menu.open .contents {
    top: 0; } }
.app {
  vertical-align: top;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-top: 9px; }

@media (max-width: 991px) {
  .app {
    font-size: 1rem;
    margin-top: 6px; } }
@media (max-width: 767px) {
  .app {
    margin-top: 0;
    line-height: 1rem; } }
.context {
  margin-top: 1rem; }
  .context .name {
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'scp'; }

@media (max-width: 991px) {
  .context .name {
    font-size: 1rem; } }
@media (max-width: 767px) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem; } }
div.meta {
  display: inline-block; }

ul.grams {
  list-style-type: none;
  padding: 0; }

label.public {
  background-color: #A100FE;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center; }

label.public:before {
  content: '%';
  color: #fff;
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 500;
  line-height: 1rem;
  vertical-align: middle; }

div.meta > label,
div.meta > h2,
div.meta > div {
  display: inline-block; }

h2.author {
  font-family: 'scp';
  font-size: .8rem;
  font-weight: 400;
  margin-top: 0; }

.gram.same div.meta {
  display: none; }

@media (max-width: 767px) {
  label.public {
    margin-right: 9px; } }
.input {
  border-bottom: 3px solid #000;
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 .2rem;
  min-width: 1rem;
  min-height: 1rem; }

.audience {
  margin-bottom: 2rem; }

.audience .input {
  border-color: #373a3c;
  font-family: 'scp'; }

.message .input {
  border-color: #B1B7BD;
  font-family: 'bau'; }

.message {
  margin-bottom: 6rem; }

img.logo {
  height: 2rem;
  width: 2rem; }

img.logo.first {
  margin-bottom: 2rem; }

.short {
  width: 75%; }

.loading {
  background-color: #000;
  color: #fff;
  padding: .6rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 3; }

.loading.state-0:before {
  content: "\25D3"; }

.loading.state-1:before {
  content: "\25D1"; }

.loading.state-2:before {
  content: "\25D2"; }

.loading.state-3:before {
  content: "\25D0"; }

.nav.container {
  position: fixed;
  left: 50%;
  width: 100%;
  padding-top: 0;
  z-index: 100; }
  @media (min-width: 544px) {
    .nav.container {
      margin-left: -288px; } }
  @media (min-width: 768px) {
    .nav.container {
      margin-left: -360px; } }
  @media (min-width: 992px) {
    .nav.container {
      margin-left: -470px; } }
  @media (min-width: 1200px) {
    .nav.container {
      margin-left: -570px; } }

@media (max-width: 767px) {
  .nav.container {
    left: 0;
    top: 0; } }
.ctrl,
.menu .contents {
  padding-top: 3rem; }

.ctrl {
  padding-left: 0.9375rem; }
  .ctrl ul.nav {
    margin-top: 2rem;
    overflow: hidden; }
    .ctrl ul.nav li {
      width: 100%;
      overflow: hidden;
      white-space: nowrap; }
  .ctrl ul.nav:hover {
    overflow: visible; }
  .ctrl a.nav-link:hover {
    text-decoration: underline; }
  .ctrl a.nav-link {
    letter-spacing: 1px; }
  .ctrl .selected a.nav-link {
    font-weight: 500;
    letter-spacing: 0; }

@media (max-width: 991px) {
  ul.nav {
    line-height: 1.3rem; }

  a.nav-link {
    font-size: .8rem; } }
@media (max-width: 767px) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #000;
    -webkit-transition: max-height 0.6s ease-in-out;
    -moz-transition: max-height 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out; }

  ul.nav {
    line-height: 2rem;
    margin-bottom: 2rem; }

  a.nav-link {
    font-size: 1rem; }

  .ctrl.open {
    max-height: 25rem; }
    .ctrl.open ul.nav {
      max-height: 9rem;
      overflow-y: scroll; }

  ul.nav {
    margin-top: 1rem; } }
.navbar-toggler {
  transition: opacity .2s, transform .3s;
  -webkit-transition: opacity .2s, transform .3s; }

.navbar-toggler.open {
  transform: rotate(0.25turn);
  opacity: .2; }

@media (min-width: 768px) {
  .ctrl .navbar-toggler {
    display: none; }

  .ctrl .navbar-toggler.show {
    display: inherit;
    padding: 0;
    margin-left: 2px; } }
@media (max-width: 991px) {
  .navbar-toggler {
    font-size: 1rem;
    margin-left: 0; } }
@media (max-width: 767px) {
  .navbar-toggler {
    padding: 0; } }
.icon div, .icon a {
  display: inline-block; }
.icon a {
  margin-right: .6rem; }
.icon .home {
  margin: 6px 9px 12px 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #B1B7BD; }
.icon .dpad {
  display: block; }
.icon .up {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-bottom: 18px solid #000;
  border-top: 0 solid transparent; }
.icon .prev {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-right: 18px solid #000;
  border-left: 0 solid transparent; }
.icon .next {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-left: 18px solid #000;
  border-right: 0 solid transparent;
  margin-right: 0; }

@media (max-width: 991px) {
  .icon .home {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border-width: 4px; }
  .icon .up {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-bottom: 12px solid #000;
    border-top: 0 solid transparent;
    margin-left: 1px; }
  .icon .prev {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-right: 12px solid #000;
    border-left: 0 solid transparent;
    margin-right: 0.6rem; }
  .icon .next {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-left: 12px solid #000;
    border-right: 0 solid transparent; } }
@media (max-width: 767px) {
  .icon {
    margin-left: 0; }
    .icon .home {
      margin-top: 0;
      margin-bottom: 0; } }
.menu {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  .menu .contents {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 6rem;
    position: relative;
    left: -100%;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  .menu .close {
    margin-top: -2rem; }
  .menu h2 {
    font-size: 1rem;
    padding-top: 3rem; }
  .menu h2:first-of-type {
    padding-top: 0; }
  .menu label.sum {
    font-family: 'scp';
    margin-left: 0.9375rem;
    font-size: 1.2rem; }
  .menu .name,
  .menu .planet {
    display: inline-block; }
  .menu .name,
  .menu .planet,
  .menu .room {
    font-size: .8rem; }
  .menu .name {
    min-width: 33.333%;
    font-size: .9rem; }
  .menu .planet {
    min-width: 66.667%; }

.menu.depth-1 .contents {
  background-color: #f7f7f9;
  border-left: 2px solid #B1B7BD; }

.menu.depth-2 .contents {
  background-color: #eceeef;
  border-left: 2px solid #B1B7BD; }

.menu.open .contents {
  left: 0; }

@media (max-width: 767px) {
  .menu {
    height: 100%;
    padding-left: 0.9375rem; }
    .menu .contents {
      left: inherit;
      top: -100%;
      padding-top: 0.9375rem;
      -webkit-transition: top 0.3s ease-in-out;
      -moz-transition: top 0.3s ease-in-out;
      transition: top 0.3s ease-in-out; }
    .menu .close {
      margin-top: 0; }

  .menu.open .contents {
    top: 0; } }
.list h1 {
  font-size: inherit;
  font-weight: inherit; }

.list.children h1 {
  font-weight: 500;
  font-size: 1.4rem; }

/*# sourceMappingURL=main.css.map */
