#
# Configuration Result
#
/config.mk
include/config.h
#
# Build Outputs
#
*.o
/urbit
/urbit-worker
/urbit-tests
/tags
#
# Editor Bullshit
#
.tags
TAGS
cscope.*
.DS_Store
/.etags
GPATH
GRTAGS
GTAGS
*.swo
*.swp
