#
# Configuration Result
#
/config.mk
include/config.h
#
# Build Outputs
#
*.o
/urbit
/urbit-worker
/tags
#
# Editor Bullshit
#
.tags
TAGS
cscope.*
.DS_Store
/.etags
GPATH
GRTAGS
GTAGS
*.swo
*.swp
hash_tests
hashtable_tests
mug_tests
jam_tests
