body, html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: Inter, sans-serif;
}

textarea, select, input, button { outline: none; }

.c-default {
  cursor: default;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}


button {
  background-color: transparent;
  cursor: pointer;
}

* {
  -webkit-user-drag: none;
}

/*  stolen from  indigo-react reset.css
 *  TODO: remove and add reset.css properly
 */

@keyframes loadingSpinnerRotation {
    from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
}

/* dark */
@media all and (prefers-color-scheme: dark) {
  .bg-gray2-d {
    background-color: #7f7f7f;
  }
  .b--gray1-d {
    border-color: #4d4d4d;
  }
}
