@charset "UTF-8";
.col-md-10.body {
  padding-left: 0; }

@media (max-width: 767px) {
  .col-md-10.body {
    margin-top: 0.9375rem;
    padding-left: 0.9375rem; } }

.label {
  font-size: inherit;
  font-weight: 500;
  line-height: inherit; }

img.logo {
  height: 2rem;
  width: 2rem; }

img.logo.first {
  margin-bottom: 2rem; }

div.logo {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -.8rem; }

div.logo:before {
  content: "~";
  color: #FFFFFF;
  font-size: 4rem;
  vertical-align: middle;
  line-height: 3rem;
  margin-top: .2rem;
  text-align: center;
  width: 2rem;
  display: inline-block;
  font-weight: 200; }

div.logo.inverse:before {
  color: #fff; }

.lead .logo.inverse {
  margin-top: -1.4rem; }

.short {
  width: 75%; }

.meta-data {
  padding: 1rem;
  background-color: #f7f7f9;
  font-family: 'scp';
  max-width: 12rem;
  margin-bottom: 2rem; }
  .meta-data h2,
  .meta-data h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 2rem; }

.link-next {
  margin-top: 4rem; }
  .link-next a {
    padding: .6rem;
    border: 2px solid;
    text-decoration: none;
    font-weight: 500;
    margin-top: 4rem; }
  .link-next a:hover {
    background-color: #000;
    color: #fff; }

.loading:before {
  font-family: 'scp';
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  font-size: .8rem;
  line-height: 1.7rem;
  display: block;
  font-weight: 600;
  z-index: 3; }

.loading.state-0:before {
  content: "\25D3"; }

.loading.state-1:before {
  content: "\25D1"; }

.loading.state-2:before {
  content: "\25D2"; }

.loading.state-3:before {
  content: "\25D0"; }

@media (min-width: 768px) {
  .menu,
  .ctrl {
    width: 180px;
    max-width: 180px; }
  .ctrl.open,
  .ctrl:hover {
    max-width: 360px;
    min-width: 180px;
    width: auto; }
  .menu.depth-1 {
    margin-left: 180px; }
  .menu.depth-2 {
    margin-left: 360px; } }

@media (min-width: 992px) {
  .menu,
  .ctrl {
    width: 235px;
    max-width: 235px; }
  .ctrl.open,
  .ctrl:hover {
    max-width: 470px;
    min-width: 235px;
    width: auto; }
  .menu.depth-1 {
    margin-left: 235px; }
  .menu.depth-2 {
    margin-left: 470px; } }

@media (min-width: 1200px) {
  .menu,
  .ctrl {
    width: 285px;
    max-width: 285px; }
  .ctrl.open,
  .ctrl:hover {
    max-width: 570px;
    min-width: 285px;
    width: auto; }
  .menu.depth-1 {
    margin-left: 285px; }
  .menu.depth-2 {
    margin-left: 570px; } }

#head .loading {
  display: none; }

@media (max-width: 543px) {
  #head {
    top: 0;
    z-index: 10;
    width: calc(100% - 1.875rem);
    position: absolute;
    transform: translateZ(0);
    -webkit-transform: translateZ(0); }
  #head.m-down,
  #head.m-up {
    position: absolute; }
  #head.m-down.m-fixed {
    position: fixed; } }

@media (max-width: 543px) {
  .nav.container {
    left: 0; } }

.menu .contents {
  padding-top: 3rem; }

.ctrl {
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  transition: max-width .2s ease-in-out;
  position: fixed;
  height: 100%;
  z-index: 100; }
  .ctrl ul.nav {
    margin-top: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%; }
    .ctrl ul.nav li {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: .6rem; }
  .ctrl ul.nav:hover {
    overflow-x: visible; }
  .ctrl a.nav-link {
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 2px solid;
    line-height: 1rem; }
  .ctrl .selected a.nav-link {
    font-weight: 500; }

.ctrl.navbar {
  position: relative;
  margin-bottom: 3rem;
  padding: 0;
  background-color: transparent;
  width: auto; }
  .ctrl.navbar,
  .ctrl.navbar .items {
    height: 3rem; }
  .ctrl.navbar .icon,
  .ctrl.navbar ul.nav,
  .ctrl.navbar li {
    display: inline-block;
    padding: 0; }
  .ctrl.navbar ul.nav {
    margin-top: 0;
    overflow: visible; }
    .ctrl.navbar ul.nav li {
      width: auto;
      display: inline-block;
      min-width: 16.66667%; }
    .ctrl.navbar ul.nav .right {
      float: right; }
    .ctrl.navbar ul.nav .btn {
      margin: 0;
      padding: 0;
      border: 0;
      text-transform: none; }

.ctrl.navbar {
  max-width: none; }

.ctrl.navbar.open,
.ctrl.navbar:hover {
  min-width: none; }

@media (max-width: 991px) {
  ul.nav {
    line-height: 1.3rem; }
  a.nav-link {
    font-size: .8rem; } }

@media (max-width: 767px) {
  .ctrl {
    position: relative;
    max-height: 3rem;
    max-width: 100%;
    padding-top: 1rem;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid #B1B7BD;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out; }
    .ctrl ul.nav {
      line-height: 2rem;
      margin: 0 0 2rem 0.9375rem; }
  .ctrl.open,
  .ctrl:hover {
    width: inherit;
    max-width: inherit; }
  .ctrl.open {
    height: auto;
    max-height: 12rem;
    min-height: 3rem; }
  a.nav-link {
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    border-bottom: 2px solid; }
  .ctrl.open ul.nav {
    max-height: 9rem;
    overflow-y: scroll; } }

.navbar-toggler {
  font-size: 24px;
  transition: opacity .2s, transform .3s, margin-left .2s;
  -webkit-transition: opacity .2s, transform .3s, margin-left .2s; }

.open .navbar-toggler {
  transform: rotate(0.25turn);
  opacity: .2;
  margin-left: -.2rem; }

.items {
  height: 80%; }

@media (min-width: 768px) {
  .ctrl .navbar-toggler {
    display: none; }
  .ctrl .navbar-toggler.show {
    display: block;
    padding: 0; } }

@media (max-width: 767px) {
  .navbar-toggler {
    padding: 0;
    margin-left: 2rem;
    vertical-align: top;
    line-height: 18px; }
  .open .navbar-toggler {
    margin-left: 2rem; } }

.icon div, .icon a {
  display: inline-block; }

.icon a {
  margin-right: .6rem; }

.icon .home {
  margin: 0 0.9375rem 0.9375rem 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #B1B7BD;
  cursor: pointer; }

.icon .home:hover {
  border-color: #55595c; }

.icon .dpad {
  display: block; }

.icon .up {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-bottom: 18px solid #000;
  border-top: 0 solid transparent; }

.icon .prev {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-right: 18px solid #000;
  border-left: 0 solid transparent; }

.icon .next {
  width: 1px;
  height: 1px;
  border: 12.0006px solid transparent;
  border-left: 18px solid #000;
  border-right: 0 solid transparent;
  margin-right: 0; }

@media (max-width: 991px) {
  .icon .home {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border-width: 4px; }
  .icon .up {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-bottom: 12px solid #000;
    border-top: 0 solid transparent;
    margin-left: 1px; }
  .icon .prev {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-right: 12px solid #000;
    border-left: 0 solid transparent;
    margin-right: .6rem; }
  .icon .next {
    width: 1px;
    height: 1px;
    border: 8.0004px solid transparent;
    border-left: 12px solid #000;
    border-right: 0 solid transparent; } }

@media (max-width: 767px) {
  .icon {
    margin-left: 0.9375rem;
    height: 2rem; }
    .icon .dpad {
      display: inline; }
    .icon .home {
      margin-top: 0;
      margin-bottom: 0; } }

[data-path*='/docs'] .selected .nav-link,
[data-path^='/work'] .selected .nav-link {
  color: #55595c; }

[data-path*='/docs'] .nav-link,
[data-path^='/work'] .nav-link {
  font-weight: 500; }

[data-path*='/docs'] .home,
[data-path^='/work'] .home {
  background-color: #55595c;
  border-color: #55595c; }

[data-path*='/docs'] .home:hover,
[data-path^='/work'] .home:hover {
  background-color: #B1B7BD;
  border-color: #B1B7BD;
  opacity: .6; }

[data-path*='/docs'] .home:before,
[data-path^='/work'] .home:before {
  content: "~";
  color: #fff;
  line-height: .8rem;
  font-size: 1.4rem; }

@media (max-width: 991px) {
  [data-path*='/docs'] .home:before,
  [data-path^='/work'] .home:before {
    line-height: 0.7rem;
    font-size: 1rem;
    margin-left: .06rem; } }

@media (max-width: 767px) {
  [data-path*='/docs'] .home:before,
  [data-path^='/work'] .home:before {
    line-height: .7rem;
    margin-left: .05rem;
    font-size: 1rem; } }

[data-path^='/docs/system/hoon/runes'] .nav-link {
  font-family: 'scp'; }

[data-path^='/docs/system/hoon/runes'] .nav-link,
[data-path^='/docs/system/hoon/runes'] .ctrl .selected a.nav-link {
  font-weight: 600; }

.app {
  vertical-align: top;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-top: 0; }

@media (max-width: 991px) {
  .app {
    font-size: 1.3rem;
    line-height: 1.3rem; } }

@media (max-width: 767px) {
  .app {
    margin-top: .1rem;
    line-height: 1rem; } }

.context {
  margin-top: 1rem; }
  .context .name {
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'scp'; }

@media (max-width: 991px) {
  .context .name {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .context {
    line-height: 1rem;
    margin-bottom: 1rem; } }

.urbit.navbar.ctrl {
  margin-top: 1rem; }
  .urbit.navbar.ctrl .icon .home {
    border-color: #000;
    background-color: #000;
    width: 3rem;
    height: 3rem;
    margin: 0 4rem 0 0; }
  .urbit.navbar.ctrl .icon .home:before {
    content: "~";
    color: #fff;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    width: 2.4rem;
    display: inline-block; }
  .urbit.navbar.ctrl ul.nav li {
    height: 3rem;
    vertical-align: middle;
    min-width: 0;
    margin-right: 2rem; }
  .urbit.navbar.ctrl ul.nav li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 3px solid #000;
    margin-top: 1rem; }
  .urbit.navbar.ctrl ul.nav .btn {
    border: 3px solid #000;
    margin-top: -3px;
    height: 3rem;
    padding: 0rem; }
    .urbit.navbar.ctrl ul.nav .btn a {
      font-size: 1rem;
      color: #000;
      letter-spacing: 0; }
  .urbit.navbar.ctrl ul.nav .btn.selected,
  .urbit.navbar.ctrl ul.nav .btn:hover {
    background-color: #000; }
    .urbit.navbar.ctrl ul.nav .btn.selected a,
    .urbit.navbar.ctrl ul.nav .btn:hover a {
      color: #fff; }
  .urbit.navbar.ctrl ul.nav li a:hover,
  .urbit.navbar.ctrl ul.nav li.selected a {
    color: #55595c;
    border-color: #55595c; }
  .urbit.navbar.ctrl .subnav ul.nav {
    height: 1.5rem; }
    .urbit.navbar.ctrl .subnav ul.nav li {
      height: 1.5rem; }
    .urbit.navbar.ctrl .subnav ul.nav li a {
      line-height: 1.5rem; }
    .urbit.navbar.ctrl .subnav ul.nav .btn {
      position: relative;
      height: 3rem; }
      .urbit.navbar.ctrl .subnav ul.nav .btn a {
        line-height: 3rem; }

.urbit.home.navbar.ctrl .icon .home {
  opacity: 0;
  border-color: #fff;
  background-color: #fff; }

.urbit.home.navbar.ctrl .icon .home:before {
  color: #B1B7BD; }

.urbit.home.navbar.ctrl ul li a {
  color: #fff;
  border-color: #fff; }

@media (max-width: 767px) {
  .urbit.home.navbar.ctrl .icon .home {
    display: none; }
  .urbit.navbar.ctrl {
    height: auto;
    margin: 0;
    position: absolute;
    border: none; }
    .urbit.navbar.ctrl .icon {
      margin-top: 1rem;
      margin-bottom: .5rem; }
      .urbit.navbar.ctrl .icon .home {
        width: 18px;
        height: 18px;
        margin: 0 1rem 0 0; }
      .urbit.navbar.ctrl .icon .home:before {
        font-size: 1rem;
        line-height: .7rem;
        width: .6rem; }
      .urbit.navbar.ctrl .icon .navbar-toggler {
        margin-left: 0; }
      .urbit.navbar.ctrl .icon .navbar-toggler,
      .urbit.navbar.ctrl .icon .open .navbar-toggler {
        opacity: 1; }
    .urbit.navbar.ctrl ul.nav,
    .urbit.navbar.ctrl .subnav ul.nav {
      overflow: visible;
      background-color: #fff;
      height: auto;
      margin-left: -1rem;
      padding-left: 1rem;
      padding-top: .8rem;
      float: left; }
      .urbit.navbar.ctrl ul.nav li,
      .urbit.navbar.ctrl .subnav ul.nav li {
        display: block;
        height: 1.5rem; }
        .urbit.navbar.ctrl ul.nav li a,
        .urbit.navbar.ctrl .subnav ul.nav li a {
          line-height: 1.5rem;
          margin-top: 0;
          color: #000; }
      .urbit.navbar.ctrl ul.nav li.btn,
      .urbit.navbar.ctrl .subnav ul.nav li.btn {
        height: 1.5rem;
        border: 0; }
        .urbit.navbar.ctrl ul.nav li.btn a,
        .urbit.navbar.ctrl .subnav ul.nav li.btn a {
          color: #64DE79;
          line-height: 1.5rem; } }

#tree > div > .container {
  padding-top: 3rem;
  padding-bottom: 6rem; }

@media (max-width: 767px) {
  #tree > div > .container {
    padding-top: 0; }
  #body {
    padding-top: 4rem; } }

.lead h1:first-of-type {
  padding-bottom: 0; }

.flush {
  padding-top: 0; }

.h-arrow {
  width: 100%;
  height: 9rem;
  margin-bottom: 3rem; }
  .h-arrow h1,
  .h-arrow img {
    float: left; }
  .h-arrow img {
    height: 6rem;
    margin: 1rem 0 0 1rem; }
  .h-arrow h1 {
    color: #000;
    display: inline-block;
    line-height: 4rem; }
  .h-arrow h1 code {
    background-color: transparent;
    color: #000; }

.footer {
  margin-top: 6rem;
  font-weight: 500;
  color: #B1B7BD; }
  .footer a {
    color: #55595c;
    text-decoration: none;
    border-bottom: 2px solid #55595c;
    margin-left: .6rem; }

ol {
  counter-reset: li;
  list-style: none;
  padding-left: 2rem; }

ol > li {
  margin-bottom: 2rem; }

.top ol {
  padding-left: 0; }

ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
  text-align: left;
  font-weight: 500;
  float: left;
  margin-right: 1rem;
  margin-left: -2rem; }

.body[data-path*='/docs'] h1,
.body[data-path^='/work'] h1 {
  color: #000; }

.body[data-path*='/docs'] h1 code,
.body[data-path^='/work'] h1 code {
  background-color: transparent;
  color: #000;
  padding: 0; }

.body[data-path*='/docs'] .head,
.body[data-path^='/work'] .head {
  margin-bottom: 4rem;
  padding-left: 0; }

.body[data-path*='/docs'] .book h2,
.body[data-path^='/work'] .book h2 {
  color: #B1B7BD; }

.body[data-path*='/docs'] .book h2 code,
.body[data-path^='/work'] .book h2 code {
  color: #000;
  background-color: transparent; }

.body[data-path*='/docs'] .book h2 a,
.body[data-path^='/work'] .book h2 a {
  color: #000; }

.body[data-path*='/docs'] .book hr,
.body[data-path^='/work'] .book hr {
  margin-bottom: 3rem; }

.body[data-path^='/work'] h2 {
  color: #000; }

.body[data-path^='/docs/system/hoon/runes/'] h1 {
  color: #B1B7BD; }

.body[data-path^='/docs/system/hoon/runes/basic'] h1 {
  color: #000; }

.body[data-path^='/docs/system/hoon/library/'] h3 {
  font-size: 1.5rem; }

.body[data-path^='/docs/system/hoon/library/'] h2 {
  font-size: 1rem; }

.body[data-path^='/docs/system/hoon/library/'] .toc h3 {
  padding-top: 0;
  margin-bottom: 0; }

.body .urbit {
  padding-bottom: 9rem; }
  .body .urbit .logo {
    background-color: transparent;
    border: .3rem solid #fff; }
  .body .urbit .logo:before {
    line-height: 3.4rem; }
  .body .urbit h1 {
    color: #000;
    line-height: 4rem; }
  .body .urbit a.green:hover {
    color: #64DE79; }
  .body .urbit .container.stack {
    margin-bottom: 3rem; }
    .body .urbit .container.stack p {
      font-size: 1.2rem;
      line-height: 2rem; }
  .body .urbit .container.stack.six {
    margin-top: 12rem;
    margin-bottom: 6rem; }
  .body .urbit .btn.black {
    text-transform: none;
    text-decoration: none;
    padding: 0;
    letter-spacing: 0;
    margin: 0 1rem 1rem 0;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 3px solid #000; }
  .body .urbit .front {
    padding-bottom: 4rem; }
    .body .urbit .front h1 {
      padding-top: 0; }
    .body .urbit .front h1,
    .body .urbit .front h1 a {
      font-size: 4rem;
      line-height: 6rem; }
  .body .urbit .image-fs {
    height: 44rem;
    margin-bottom: 3rem; }
    .body .urbit .image-fs .text-container,
    .body .urbit .image-fs .image-container {
      position: absolute; }
    .body .urbit .image-fs .text-container {
      display: table;
      height: 44rem;
      width: 100%;
      z-index: 1; }
      .body .urbit .image-fs .text-container .text {
        display: table-cell;
        vertical-align: middle; }
      .body .urbit .image-fs .text-container .rect {
        margin-left: auto;
        margin-right: auto; }
        .body .urbit .image-fs .text-container .rect h1 {
          padding-bottom: 1rem;
          text-align: left; }
      @media (min-width: 544px) {
        .body .urbit .image-fs .text-container .rect {
          width: 480px; } }
      @media (min-width: 768px) {
        .body .urbit .image-fs .text-container .rect {
          width: 600px; } }
      @media (min-width: 992px) {
        .body .urbit .image-fs .text-container .rect {
          width: 783.33333px; } }
      @media (min-width: 1200px) {
        .body .urbit .image-fs .text-container .rect {
          width: 950px; } }
      .body .urbit .image-fs .text-container .rect {
        padding: 0 30px 0 30px; }
      .body .urbit .image-fs .text-container .rect.no-header {
        font-weight: 500;
        color: #fff;
        font-size: 1.4rem; }
        .body .urbit .image-fs .text-container .rect.no-header p.email {
          font-size: 1rem; }
    .body .urbit .image-fs .image-container {
      z-index: 0;
      height: 44rem;
      width: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .body .urbit .image-fs h1 {
      text-align: center;
      color: #fff; }
  .body .urbit .image-fs.first {
    margin-top: -9rem; }
    .body .urbit .image-fs.first h1 {
      padding-bottom: 0; }
  .body .urbit .slide {
    margin-bottom: 12rem;
    position: relative; }
    .body .urbit .slide h1 {
      padding-bottom: 1rem; }
    .body .urbit .slide .pair {
      display: table; }
      .body .urbit .slide .pair .text,
      .body .urbit .slide .pair .image {
        display: table-cell;
        vertical-align: middle; }
      .body .urbit .slide .pair .image.right {
        padding-left: 5%; }
      .body .urbit .slide .pair .image.left {
        padding-right: 5%; }
      .body .urbit .slide .pair .text {
        width: 75%; }
      .body .urbit .slide .pair .image {
        width: 20%; }
      .body .urbit .slide .pair .image img {
        width: 100%; }
      .body .urbit .slide .pair p:last-child {
        margin-bottom: 0; }
  .body .urbit .end {
    padding: 1rem;
    background-color: #64DE79;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500; }
  .body .urbit p.last {
    margin-bottom: 2rem; }
  .body .urbit input.email {
    font-weight: 500;
    font-family: 'scp';
    background-color: #eceeef;
    color: #000;
    font-size: 1rem;
    margin-right: 1rem;
    border: 3px solid #eceeef;
    padding: .375rem 1rem;
    margin: 0 1rem 0 0;
    line-height: 1.6rem;
    vertical-align: top;
    margin-bottom: .6rem;
    min-width: 16rem; }
  .body .urbit input.email::-moz-placeholder {
    color: #55595c;
    font-weight: 400; }
  .body .urbit input.email::-webkit-input-placeholder {
    color: #55595c;
    font-weight: 400; }
  .body .urbit button.submit {
    text-transform: none;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    font-weight: 500;
    letter-spacing: 0; }
  .body .urbit .image-fs input.email {
    background-color: #fff; }
  .body .urbit .image-fs input.email, .body .urbit .image-fs button.submit {
    border-color: #fff; }
  .body .urbit .last a {
    display: block;
    font-weight: 500;
    color: #55595c;
    line-height: 2rem; }
  .body .urbit .last h2 {
    padding-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 0; }

@media (max-width: 767px) {
  .body .urbit .slide .pair,
  .body .urbit .slide .pair .text,
  .body .urbit .slide .pair .image {
    display: block;
    width: 100%; }
  .body .urbit .slide .pair .image {
    text-align: center; }
  .body .urbit .slide .pair .image.left {
    margin-bottom: 2rem; }
  .body .urbit .slide .pair .image.right {
    margin-top: 2rem; }
  .body .urbit .slide .pair .image img {
    max-width: 12rem; }
  .body .urbit .last .col-md-4 {
    margin-top: 2rem; }
  .body .urbit .last .col-md-4.col-md-offset-1 {
    margin-top: 0; } }

.body .talk-stream .audience {
  display: none; }

.body .talk-stream .speech, .body .talk-stream .message {
  margin-left: 0; }

.body .talk-stream .length {
  color: #55595c; }

.body .talk-stream .input[contenteditable=true]:empty:before {
  content: 'say hello, or ask a question';
  color: #B1B7BD; }

.body .talk-stream .grams {
  margin: 2rem 0; }

.body .talk-stream .grams .meta .time, .body .talk-stream .grams .meta .path {
  display: none; }

.body .talk-stream .grams .gram label {
  background-color: #000; }

.body .talk-stream .grams .gram .meta h2 {
  margin-bottom: 0;
  vertical-align: middle; }

.body .talk-stream .grams .gram .meta label:before {
  font-weight: 200; }

.body .talk-stream .grams .gram .time {
  display: none; }

.body .talk-stream .grams .gram .iden,
.body .talk-stream .grams .gram .path {
  max-width: 32rem;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle; }

.ship {
  color: #fff;
  padding-right: 2rem;
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap; }

.ship span {
  display: none; }

.ship:before {
  content: attr(data-alias);
  color: #000; }

.ship:hover {
  color: #000;
  max-width: none;
  overflow: visible;
  white-space: normal; }
  .ship:hover:before {
    display: none; }

.ship:hover span {
  display: inline; }

@media (max-width: 767px) {
  .iden,
  .path {
    max-width: 12rem; } }

@media (max-width: 767px) {
  #body.plan {
    padding-top: 0; } }

.body .plan .above {
  background-color: #000; }
  .body .plan .above .mono,
  .body .plan .above h6 {
    font-size: 1.2rem; }
  .body .plan .above h6 {
    padding-top: 0; }
  .body .plan .above .mono {
    font-weight: 200; }
  .body .plan .above > .container {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .body .plan .above .home {
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    border: 4px solid #fff;
    display: inline-block;
    float: left;
    margin-left: -4.4rem;
    margin-top: 1rem; }
  .body .plan .above .edit {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-weight: 500;
    border-bottom: 3px solid #fff;
    line-height: 1rem;
    padding-top: 2rem; }
  .body .plan .above .grid .tr .td {
    font-family: 'scp'; }
  .body .plan .above .grid .tr .td:first-child {
    font-family: 'bau'; }
  .body .plan .above input {
    background-color: #373a3c;
    border: none; }
  .body .plan .above .panel a {
    text-decoration: none;
    border-bottom: 2px solid #55595c;
    font-weight: 500;
    color: #55595c; }
  .body .plan .above .panel a:hover {
    border-color: #fff;
    color: #fff; }

.body .plan .panel.stack {
  padding-top: 0;
  padding-bottom: 0; }

.body .plan .plan.stack {
  padding-top: 4rem; }

.body .plan .pull-right {
  float: right; }

.body .plan .above,
.body .plan .above a {
  color: #fff; }

.body .plan .service {
  white-space: nowrap; }

.body .plan .service:before {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  height: .5rem;
  width: .5rem;
  background-color: #64DE79;
  margin-right: .6rem; }

.body .plan .grid .td {
  display: table-cell; }

.body .plan .grid .tr .td:first-child {
  min-width: 9rem;
  margin-right: 2rem;
  letter-spacing: 1px;
  color: #B1B7BD; }

.stream .mini-module {
  margin-top: 3rem; }

.stream h6 {
  color: #55595c;
  font-size: 1rem;
  margin-bottom: 2rem; }

@media (max-width: 767px) {
  .grid .td {
    display: block; }
  .tr .td:first-child {
    margin-top: 1rem; } }

@keyframes menu-open {
  0% {
    visibility: hidden; }
  1% {
    visibility: visible; }
  100% {
    visibility: visible; } }

@keyframes menu-close {
  0% {
    visibility: visible; }
  1% {
    visibility: visible; }
  100% {
    visibility: hidden; } }

.menu {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  overflow: hidden;
  z-index: 101;
  margin-top: -3rem; }
  .menu .contents {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 6rem;
    position: relative;
    left: -100%;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  .menu .close {
    margin-top: -2rem; }
  .menu .close:hover {
    opacity: 1; }
  .menu h2 {
    font-size: 1rem;
    padding-top: 3rem; }
  .menu h2:first-of-type {
    padding-top: 0; }
  .menu label.sum {
    font-family: 'scp';
    margin-left: 0.9375rem;
    font-size: 1.2rem; }

.menu.depth-1 .contents {
  background-color: #f7f7f9;
  border-left: 2px solid #B1B7BD; }

.menu.depth-2 .contents {
  background-color: #eceeef;
  border-left: 2px solid #B1B7BD; }

.menu.depth-2 {
  max-height: 100%;
  overflow-y: scroll; }

.menu.closed {
  animation-name: menu-close;
  animation-duration: .3s;
  animation-fill-mode: forwards; }

.menu.open {
  animation-name: menu-open;
  animation-duration: .3s;
  animation-fill-mode: forwards; }

.menu.open .contents {
  left: 0; }

@media (max-width: 767px) {
  .menu {
    height: 100%;
    padding-left: 0;
    padding-right: 2.8125rem;
    border-left: 0; }
    .menu .contents {
      left: inherit;
      top: -100%;
      padding-top: 0.9375rem;
      padding-bottom: 2.8125rem;
      -webkit-transition: top 0.3s ease-in-out;
      -moz-transition: top 0.3s ease-in-out;
      transition: top 0.3s ease-in-out; }
    .menu.depth-1 .contents,
    .menu.depth-2 .contents {
      border-left: 0;
      border-bottom: 2px solid #B1B7BD; }
    .menu .close {
      margin-top: 0; }
  .menu.open .contents {
    top: 3rem; } }

.list h1,
.list h1:first-of-type {
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 2rem; }

.list h1.error {
  font-size: 1.6rem;
  font-weight: 500; }

.list.children h1 {
  font-weight: 500;
  font-size: 1.4rem; }

.list.post .date {
  font-family: 'scp';
  font-size: .7rem;
  margin-bottom: .6rem; }

.list.post .author {
  font-size: 1rem;
  padding-top: 0; }

.list.post .author:before {
  content: "—";
  margin-right: .6rem; }

.body[data-path*='/docs'] .list,
.body[data-path^='/work'] .list {
  list-style-type: none;
  padding-left: 0; }
  .body[data-path*='/docs'] .list a,
  .body[data-path*='/docs'] .list h1,
  .body[data-path^='/work'] .list a,
  .body[data-path^='/work'] .list h1 {
    color: #55595c;
    font-weight: 500;
    height: 2rem;
    display: inline;
    text-decoration: none; }
  .body[data-path*='/docs'] .list h1,
  .body[data-path^='/work'] .list h1 {
    border-bottom: 2px solid #000; }

.body[data-path^='/work'] .list.main a,
.body[data-path^='/work'] .list.main h1 {
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem; }

.body[data-path^='/work'] .list.main h1 {
  border-width: 4px; }

.body[data-path*='/docs'] .list.runes a h1,
.body[data-path*='/docs'] .list.runes a div,
.body[data-path*='/docs'] .list.runes a p {
  display: inline-block; }

.body[data-path*='/docs'] .list.runes a p {
  font-weight: 300; }

.body[data-path*='/docs'] .list.runes a {
  text-decoration: none; }

.body[data-path*='/docs'] .list.runes a,
.body[data-path*='/docs'] .list.runes a h1 code {
  color: #000; }

.body[data-path*='/docs'] .list.runes a h1 {
  display: block;
  margin-bottom: .3rem;
  height: auto;
  border-bottom: none; }

.body[data-path*='/docs'] .list.runes a h1 code {
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0;
  border-bottom: 2px solid #000; }

.body[data-path*='/docs'] .list.runes a code {
  background-color: #eceeef; }

.body[data-path*='/docs'] .list.runes a code {
  padding: .3rem; }

.urbit ul.blog {
  list-style-type: none;
  padding-left: 0; }
  .urbit ul.blog li {
    margin-bottom: 12rem; }
  .urbit ul.blog .continue {
    font-weight: 500;
    text-decoration: none;
    border-bottom: 3px solid #000; }

@media (max-width: 767px) {
  .urbit ul.blog li {
    margin-bottom: 6rem; } }

.kids.runes h1 {
  padding-top: 3rem; }

.kids.runes h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.kids.runes > div {
  margin-top: 6rem; }

.kids.runes > hr {
  display: none; }

.kids.runes > div p:first-of-type {
  font-weight: 500; }

#body.post .date {
  font-family: 'scp';
  color: #B1B7BD;
  font-size: .7rem;
  font-weight: 200; }

#body.post .date,
#body.post p.preview,
#body.post h3.author {
  margin-bottom: .6rem; }

#body.post h3.author {
  padding-top: 0;
  font-size: 1rem; }

#body.post h3.author:before {
  content: "—";
  margin-right: .6rem; }

#body.post img {
  max-width: 100%; }

.urbit .post h1.title,
.urbit .post p.preview,
.urbit.post h1.title,
.urbit.post p.preview {
  font-weight: 500; }

.urbit .post h1.title,
.urbit.post h1.title {
  font-size: 2rem;
  padding-bottom: 0; }

.urbit .post h1.title,
.urbit .post img,
.urbit.post h1.title,
.urbit.post img {
  width: 600px;
  margin-bottom: 2rem; }

.urbit .post img,
.urbit.post img {
  border: 12px solid #000; }

.urbit .post img.full-width,
.urbit.post img.full-width {
  width: 100%;
  border: 0; }

.urbit .post img.inline,
.urbit.post img.inline {
  margin-bottom: 0; }

.urbit .post p.preview,
.urbit.post p.preview {
  margin-bottom: .6rem;
  max-width: 32rem; }

.urbit .post h3.author,
.urbit.post h3.author {
  line-height: 1rem;
  margin-bottom: 1rem; }

@media (max-width: 767px) {
  .urbit .post h1.title,
  .urbit .post img {
    max-width: 100%; } }

.urbit.post .person {
  margin-bottom: 2rem; }
  .urbit.post .person:first-of-type {
    margin-top: 3rem; }
  .urbit.post .person:last-of-type {
    margin-bottom: 3rem; }
  .urbit.post .person > p,
  .urbit.post .person img {
    display: inline-block; }
  .urbit.post .person > p {
    width: 60%; }
  .urbit.post .person img {
    width: 30%;
    margin: 0 2rem 0 0;
    border: 6px solid #555; }

.urbit .post h1.title {
  line-height: 3rem; }

.urbit .post img {
  max-width: 32rem; }

@media (max-width: 767px) {
  .urbit .post img {
    max-width: 100%;
    border-width: 6px; } }

.urbit.post .preview {
  display: none; }

.sections h1 {
  font-size: 2rem;
  color: #0500F0; }

.sections h1:first-of-type {
  padding-bottom: 1rem; }

.sections .list h1 {
  padding-bottom: 0; }

.sections li h1 {
  font-size: 1.2rem; }

.sections ul {
  list-style-type: none;
  font-weight: 500;
  padding-left: 0; }

.sections ul li,
.sections ul li a,
.sections ul li h1 span {
  color: #55595c;
  margin-bottom: 1rem;
  line-height: 1.5rem; }

.sections .kids > div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3rem;
  float: none; }

.sections hr {
  display: none; }

.lead-offset {
  margin-left: 4rem; }

@media (max-width: 991px) {
  .lead-offset {
    margin-left: 4rem; } }

@media (max-width: 767px) {
  .lead-offset {
    margin-left: 0; }
  .sections h1 {
    font-size: 1.6rem; } }

.add-comment {
  width: 100%;
  border-top: 3px solid #B1B7BD;
  margin-top: 8rem; }
  .add-comment .btn {
    padding: .6rem .3rem .4rem .3rem;
    text-transform: none; }
  .add-comment .ship {
    display: inline-block;
    margin-top: 2rem;
    background-color: transparent;
    padding: 0; }
  .add-comment textarea {
    width: 100%;
    display: block;
    height: 12rem;
    background-color: #f7f7f9;
    border-bottom: 0;
    margin-bottom: .6rem;
    margin-top: .6rem;
    padding: .3rem; }

.add-comment .ship,
.comments .ship {
  font-family: 'scp';
  font-size: 1rem;
  font-weight: 400; }

.comments {
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 3px solid #eceeef; }
  .comments .comment {
    margin-top: 2rem; }
    .comments .comment > span {
      font-family: 'scp';
      font-size: .8rem;
      color: #B1B7BD; }
    .comments .comment h2 {
      padding-top: 0;
      font-size: 1rem;
      font-weight: 500; }
      .comments .comment h2 code {
        background-color: transparent;
        padding: 0; }
    .comments .comment p {
      width: 66%; }
    .comments .comment.loading {
      color: #B1B7BD; }
    .comments .comment.loading > span {
      color: #eceeef; }

@media (max-width: 767px) {
  .add-comment textarea,
  .comments .comment p {
    width: 100%; } }
