html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
  margin-block-end: unset;
  margin-block-start: unset;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  font-family: Inter, sans-serif;
  padding: 0;
}

textarea, input, button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
}

h2 {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

.inter {
  font-family: Inter, sans-serif;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

@media all and (max-width: 34.375em) {
  .dn-s {
    display: none;
  }
  .flex-basis-100-s, .flex-basis-full-s {
    flex-basis: 100%;
  }
  .h-100-m-40-s {
    height: calc(100% - 40px);
  }
  .black-s {
    color: #000;
  }
}

@media all and (min-width: 34.375em) {
  .db-ns {
    display: block;
  }
  .flex-basis-30-ns {
    flex-basis: 30vw;
  }
  .h-100-m-40-ns {
    height: calc(100% - 40px);
  }
}