//
// fonts first
//

@import 'fonts'

html
body
  height 100%
  font-family "bau"

.type
  font-family "scp"

input
  font-size 1rem
  -webkit-appearance none
  border-radius 0
  font-family "bau"

#length
.time
  letter-spacing 0

.time
  font-weight 200

#length
.audi
.time
.station
#audience .iden
  font-size .8rem
  line-height 1rem

#length
  letter-spacing .1rem
  font-weight 500

#writing-container:focus #length
  display inline

// input.join
// .iden
// .audi
// #station
//   font-size .7rem

.ship
  font-weight 500
  text-transform uppercase
  letter-spacing .05rem

html
body
  font-size 18px

//
// containers
//

body
  background-color #fefefe
  padding 0
  margin 0

.hidden
  display none

#c
  position absolute
  top 0rem
  left 50%
  width 58rem
  margin-left -29rem
  margin-bottom 6rem

#station-container
  position fixed
  width 58rem
  max-height 4rem
  background-color #ccc
  color white
  overflow hidden
  z-index 10
  border-bottom 1px solid #ddd
  -webkit-transition max-height .2s
  
#station #station-container
  padding-top 1rem
  min-width 30rem
  text-align right

#writing-container
  margin-top 2rem
  margin-bottom 1rem

#messages-container
  vertical-align top
  margin-top 4rem

//
// components
//

.caret
.circle
  display inline-block

.caret
  width 0
  height 0
  border-top 6px solid transparent
  border-right 6px solid transparent
  border-bottom 6px solid transparent
  border-left 6px solid #000
  margin-top 2px

.circle
  width 6px
  height 6px
  border 3px solid black
  border-radius 6px
  margin-top 2px

//
// station
//

#station-container #where .caret
  -webkit-transform rotate(0deg)
  -webkit-transform-origin 0 50%
  -webkit-transition -webkit-transform .2s

#station-container #where .caret
  margin-top 9px
  border-top 9px solid transparent
  border-right 9px solid transparent
  border-bottom 9px solid transparent
  border-left 9px solid white
  -webkit-transition border-left-color .2s

#head
  width 100%
  height 4rem
  background-color white
  color #333
  border-bottom 1px solid #ddd

#station-container h1
  display none
  color white
  font-weight 400
  font-size 1rem
  letter-spacing .06rem
  display inline-block
  line-height 1.2rem

#station-container h1:after
  content "—"
  margin-left .6rem

#station-container .audi
#station-container .iden > div
  background-color transparent
  
#who
  width 16rem

#stations
  width 15rem
  padding-bottom 1rem
  border-left 16rem solid transparent

#station-container #head .ship
  font-weight 400

#station-container:hover #where
  color white
  -webkit-transition color .2s

#station-container:hover #where
  color rgb(240,73,65)
  -webkit-transition color .2s

#station-container:hover #where .caret
  border-left-color rgb(240,73,65)
  -webkit-transition border-left-color .2s
  
#stations
#audience
#head > div
#where > div
  display inline-block
  vertical-align top

#where > div
  margin-right 1rem
  text-transform capitalize
  letter-spacing .05rem
  font-size 1.6rem

#where .slat
  font-weight 500

#where .slat:after
  margin-left 1rem
  content "—"

#head > div
  height 2rem
  line-height 2rem
  margin-top 1rem

#where .caret
  border-left-color white

#who > div
  vertical-align middle

#members > div
  display block

#members > div div
  display inline-block
  vertical-align bottom

#members .audi
  margin-right .3rem
  margin-top 0

#members .iden
  min-width 10rem

.station div
  display inline-block

.station .path
  text-transform uppercase

.station .remove
  opacity 0
  cursor pointer
  width .6rem
  margin-left .6rem
  line-height 1rem
  font-size 1.2rem
  font-weight 500
  color #ff0000
  vertical-align top

.station:hover .remove
  opacity 1

// add source
.sour-ctrl input
  color white
  background-color transparent
  border none
  font-size .8rem
  line-height 2rem
  margin-top .6rem
  font-weight 300
  text-align left
  outline none
  cursor pointer
  
.sour-ctrl input::-webkit-input-placeholder
  font-weight 500
  font-size 1.6rem
  margin-left .6rem
  color white

.sour-ctrl input:focus::-webkit-input-placeholder
  color transparent

//
// messages
//

.message
  padding-top .3rem
  margin-bottom .6rem

#messages .message .time
#messages .message .audi
  opacity 0
  margin-left 2rem

#messages .message:hover .time
#messages .message:hover .audi
  opacity 1

#messages .message .attr
  position absolute
  overflow hidden
  max-height 1.6rem

// #writing-container
// #messages .message.first
//   border-top 1px solid #ededed

#writing-container
  padding-top .3rem

#messages .message.first

#messages .message.same .audi
  margin-top 0

#messages .message.same .type
  opacity 0
  
#messages .message.same .iden
  display none
  
#messages .message:hover .mess
#messages .message:hover .attr
  color #555

#messages .message:hover .type
  color rgb(240,73,65)

#messages .message.attr
  max-height 2rem
  -webkit-transition max-height 2s, color .1s linear

#messages .message:hover .attr
  max-height 6rem
  padding-bottom 1rem
  z-index 3
  -webkit-transition max-height .2s, color .1s linear

#messages .message .ship
#messages .message .audi > div
  cursor pointer

#messages .message.new
  border-top 1px solid #e5e5e5

.member
  width 12rem
  margin .3rem .6rem .3rem 0

#messages
  height auto

.message.pending
  color #ccc

.message.say .mess
  font-style italic

a
  text-decoration underline
  color inherit

.sig
.type
  margin-left 1rem
  float left
  width 1rem

.type
  height 2rem

.sig
  font-size 2rem
  margin-right .3rem

.sig:before
  content "~"

.type.private:before
  content "╿"
  font-size .8rem

.type.public:before
  content "▒"
  line-height .8rem

.mess
.iden
#station .member div
#writing
  display inline-block

.mess
#writing
#length
  vertical-align top

.attr > div
  max-width 16rem

.attr
  text-align left
  display inline-block
  max-height 1.2rem
  margin-right .3rem
  min-width 16rem
  background-color white

.attr .iden
  margin-left .3rem

.audi
.station .path
  white-space nowrap
  overflow hidden
  text-transform uppercase
  letter-spacing .05rem

.audi
  margin-top 1rem
  background-color #fff

.audi > div
  margin-right .3rem
  max-width 16rem
  display block

.iden > div
  max-width 11rem
  display inline-block

.iden > div
.audi > div
  background-color white
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  -webkit-transition max-width .2s

.audi > div:last-child
  margin-right 0

.iden > div:hover
.audi > div:hover
  position relative
  -webkit-transition max-width .2s

.mess
  letter-spacing .03rem
  word-wrap break-word
  margin-left 16.3rem

.mess
#writing
.iden > div:hover
.audi > div:hover
  max-width 42rem

.mess
#writing
  font-size 1.2rem

//
// writing
//

#writing
  min-height 1.6rem
  min-width 1.3rem
  outline none
  background-color #eee
  padding .3rem .1rem
  margin-top -.3rem
  

#writing:focus
  background-color #fff

.writing
  padding-top .3rem

.writing #length
  display inline
  margin-left 1rem
  margin-top 1.2rem

.writing .attr
  line-height 1.6rem
  vertical-align top
  margin-left 2rem
  min-width 14rem

.writing .iden
  display block
  width 100%

.writing .iden .ship
  margin-right .3rem
  letter-spacing 0

#audi
  display inline-block
  background-color #eee
  margin-right -.2rem
  outline none
  overflow hidden
  max-width 9rem
  padding .3rem .1rem .1rem 0

.valid-false
  color #ff2f2f

//
// scrolling
//

#scrolling
  display none

.scrolling #scrolling
  position fixed
  bottom 3rem
  left 2rem
  height 1rem
  padding 1rem
  height 2rem
  background-color #f9f9f9
  font-weight 500
  font-size .8rem
  text-transform uppercase

@import 'mobile'
