name: build

on:
  push:
    tags: 'urbit-rc-v*'
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/vere.yml'
      - 'pkg/arvo/**'
      - 'pkg/docker-image/**'
      - 'pkg/ent/**'
      - 'pkg/ge-additions/**'
      - 'pkg/libaes_siv/**'
      - 'pkg/urbit/**'
      - 'pkg/urcrypt/**'
      - 'bin/**'
      - 'nix/**'
      - 'default.nix'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/vere.yml'
      - 'pkg/arvo/**'
      - 'pkg/docker-image/**'
      - 'pkg/ent/**'
      - 'pkg/ge-additions/**'
      - 'pkg/libaes_siv/**'
      - 'pkg/urbit/**'
      - 'pkg/urcrypt/**'
      - 'bin/**'
      - 'nix/**'
      - 'default.nix'

jobs:
  call-vere:
    uses: ./.github/workflows/vere.yml
    with:
      pace: 'often'
      upload: >-
        ${{
        (github.ref_name == 'next/vere' && github.ref_type == 'branch')
        }}
    secrets: inherit
